Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

fix(tests): skip browser persistence tests when playwright unavailable
  gptme/tools/_browser_thread.py
Due: none

fix(chats): match real Codex CLI rollout JSONL schema
  gptme/tools/chats.py
  tests/test_chats_external_search.py
Due: none

docs(howto): document observe_web/observe_desktop, AT-SPI2, and act_and_observe (#216)
  docs/howto/computer-use.md
Due: check-markdown-endings

docs(howto): address computer-use review nits
  docs/howto/computer-use.md
Due: check-markdown-endings

feat(computer): add risk-level classification to audit-log (#216)
  gptme/cli/cmd_computer.py
  tests/test_computer_audit.py
Due: none

fix(tools): always pair structured tool_use with a tool_result (#554)
  gptme/tools/__init__.py
  tests/test_tool_use.py
Due: none

fix(computer): make action_risk_level() explicitly consult ACTION_RISK_WRITE
  gptme/cli/cmd_computer.py
Due: none

fix(tools): drain remaining structured tool_uses after KeyboardInterrupt
  gptme/tools/__init__.py
  tests/test_tool_use.py
Due: none

docs(tools): document subagent isolation contract
  docs/tools.rst
Due: check-rst-formatting

docs(tools): fix three subagent contract inaccuracies
  docs/tools.rst
Due: check-rst-formatting

fix: add __future__ annotations import for type hint compatibility
  gptme/cli/cmd_computer.py
Due: none

docs(tools): clarify max_time thread semantics
  docs/tools.rst
  gptme/tools/subagent/api.py
Due: check-rst-formatting

docs(tools): add thread-mode-only caveats for context_include and redact_secrets
  docs/tools.rst
Due: check-rst-formatting

docs(tools): fix context_include mode behavior docs
  docs/tools.rst
Due: check-rst-formatting

docs(tools): fix subagent context and signal docs
  docs/tools.rst
Due: check-rst-formatting

fix(subagent): close watchdog wait race
  gptme/tools/subagent/api.py
  tests/test_computer_task.py
  tests/test_subagent_unit.py
Due: none

fix(chats): discover cursor-chat-history.json when conversations/ dir absent
  gptme/tools/chats.py
  tests/test_chats_external_search.py
Due: none

fix(chats): discover cursor-chat-history.json even when conversations/ dir absent
  gptme/tools/chats.py
  tests/test_chats_external_search.py
Due: none

fix(util): interpolate date in epoch_to_age(incl_date=True)
  gptme/util/__init__.py
  tests/test_util.py
Due: none

fix(util): add missing f-prefix in epoch_to_age incl_date branch
  gptme/util/__init__.py
  tests/test_util.py
Due: none

feat(computer): add pre-action confirmation gate for sensitive actions (#216)
  gptme/tools/_browser_playwright.py
  gptme/tools/_computer_gate.py
  gptme/tools/computer.py
  tests/test_computer_gate.py
Due: none

fix(computer): tighten sensitive action confirmation gate
  gptme/tools/_browser_playwright.py
  gptme/tools/_computer_gate.py
  tests/test_browser.py
  tests/test_computer_gate.py
Due: none

test(computer): cover browser fill gate ordering
  tests/test_browser.py
Due: none

feat(computer): add real-time risk-label streaming to parent agent (#216)
  gptme/cli/cmd_computer.py
  gptme/tools/_computer_gate.py
  gptme/tools/computer.py
  gptme/tools/subagent/__init__.py
  tests/test_computer_risk_streaming.py
Due: none

fix(computer): stream risk label after gate check, not before
  gptme/tools/computer.py
  tests/test_computer_risk_streaming.py
Due: none

fix(computer): clarify risk streaming hook docs
  gptme/tools/computer.py
  tests/test_computer_risk_streaming.py
Due: none

feat(computer): add --jsonl output format to audit-log (#216)
  gptme/cli/cmd_computer.py
  tests/test_computer_audit.py
Due: none

fix(computer): reject audit log format conflicts before empty output
  gptme/cli/cmd_computer.py
  tests/test_computer_audit.py
Due: none

feat(computer): expose audit trail in computer_task() result + --agent-id CLI option (#216)
  gptme/cli/cmd_computer.py
  gptme/tools/computer.py
  tests/test_computer_audit.py
  tests/test_computer_task.py
Due: none

fix(computer): resolve audit logs by agent id
  gptme/cli/cmd_computer.py
  gptme/tools/computer.py
  tests/test_computer_audit.py
Due: none

feat(subagent): add subagent_parallel() fan-out helper + fix BatchJob.wait_all() race
  gptme/tools/subagent/__init__.py
  gptme/tools/subagent/batch.py
  tests/test_subagent_unit.py
Due: none

fix(subagent): catch FuturesTimeoutError in wait_all() + add ACP params to subagent_parallel()
  gptme/tools/subagent/batch.py
  tests/test_subagent_unit.py
Due: none

fix(subagent): handle TimeoutError from as_completed in wait_all(); add missing ACP params to subagent_parallel()
  gptme/tools/subagent/batch.py
  tests/test_subagent_unit.py
Due: none

test(subagent): add test for FuturesTimeoutError path in wait_all()
  tests/test_subagent_unit.py
Due: none

feat(computer): add run-task CLI + fix include_paths directory test (#216)
  gptme/cli/cmd_computer.py
  tests/test_computer_run_task_cli.py
  tests/test_context.py
Due: none

fix(subagent): cancel already-started agents on startup failure in subagent_parallel
  gptme/tools/subagent/batch.py
  tests/test_subagent_unit.py
Due: none

fix(subagent): fix eval checks and subagent_wait_basic status test (#554)
  gptme/eval/suites/subagent.py
  tests/test_tools_subagent.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
