Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

docs(computer-use): note that macOS needs no Full Disk Access (#4152)
  docs/howto/computer-use.md
Due: check-markdown-endings

fix(webui): don't skip cloud sign-in when a local server is already connected
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

fix(webui): gate cloud auto-advance on sign-in start and exchange auth codes while connected
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

fix(webui): ignore any loopback connection on the cloud step, not just the pinned URL
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

fix(webui): target the cloud server and require a changed URL on cloud auto-advance
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

fix(webui): treat an existing cloud connection as cloud on the setup step
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/utils/__tests__/connectionConfig.test.ts
  webui/src/utils/connectionConfig.ts
Due: none

fix(webui): match cloud instance subdomains in isCloudApiBaseUrl
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/utils/__tests__/connectionConfig.test.ts
  webui/src/utils/connectionConfig.ts
Due: none

fix(webui): don't skip cloud sign-in when a local server is already connected (#4153)
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/utils/__tests__/connectionConfig.test.ts
  webui/src/utils/connectionConfig.ts
Due: none

fix(subagent): select native child tool format from model metadata
  docs/tools/subagent.rst
  gptme/tools/subagent/execution.py
  tests/test_subagent_tool_format.py
Due: check-rst-formatting

test(subagent): import chat module independently of package shadowing
  tests/test_subagent_tool_format.py
Due: none

fix(subagent): address review of child tool-format selection
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/hooks.py
  tests/test_subagent_tool_format.py
Due: none

fix(subagent): keep completion example dialect-free when unknown
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/hooks.py
  tests/test_subagent_tool_format.py
Due: none

refactor(subagent): only assert a dialect the parent passed explicitly
  gptme/tools/subagent/execution.py
  tests/test_subagent_tool_format.py
Due: none

docs(subagent): clarify native-tool signal instruction and model-less resolution
  gptme/tools/subagent/hooks.py
  tests/test_subagent_tool_format.py
Due: none

fix(subagent): don't advertise progress to native-tool children
  gptme/tools/subagent/hooks.py
  tests/test_subagent_tool_format.py
Due: none

test(cli): make KeyError regression test hermetic and non-vacuous
  tests/test_cli.py
Due: none

test(cli): also isolate XDG_CONFIG_HOME in KeyError regression test
  tests/test_cli.py
Due: none

fix(subagent): select native child tool format from model metadata (#4154)
  docs/tools/subagent.rst
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/hooks.py
  tests/test_subagent_tool_format.py
Due: check-rst-formatting

fix(subagent): fail closed when a shell group's identity is unverifiable
  gptme/tools/subagent/execution.py
  tests/test_subagent_shell_pgid_kill.py
Due: none

test(cli): add CLI-level regression for KeyError repr-quote stripping (#4105)
  tests/test_cli.py
Due: none

fix(subagent): verify shell identity without procfs so macOS reaps live shells
  gptme/tools/shell.py
  gptme/tools/subagent/execution.py
  tests/test_subagent_shell_pgid_kill.py
Due: none

fix(subagent): fall back to the shell start time when the CLI is reaped
  gptme/tools/subagent/execution.py
  tests/test_subagent_shell_pgid_kill.py
Due: none

Revert "fix(subagent): fall back to the shell start time when the CLI is reaped"
  gptme/tools/subagent/execution.py
  tests/test_subagent_shell_pgid_kill.py
Due: none

feat(providers): add Y-API as an OpenAI-compatible provider
  .env.example
  docs/providers-supported.rst
  docs/providers.rst
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  gptme/llm/models/data.py
  gptme/llm/models/types.py
  gptme/llm/validate.py
Due: check-rst-formatting

fix(providers): add y-api fallback model for first-run selection
  gptme/llm/__init__.py
Due: none

fix(memory): report the written entry in scoped save JSON
  gptme/cli/cmd_memory.py
  tests/test_memory_cli_metadata.py
Due: none

fix(models): register y-api default model in the static registry
  gptme/llm/__init__.py
  gptme/llm/models/data.py
Due: none

fix(memory): report the written entry in scoped save JSON (#4155)
  gptme/cli/cmd_memory.py
  tests/test_memory_cli_metadata.py
Due: none

fix(vent): preserve launcher session and runtime provenance
  gptme/tools/vent.py
  tests/test_vent.py
Due: none

fix(vent): align native session precedence with attestation
  gptme/tools/vent.py
  tests/test_vent.py
Due: none

test(knowledge): protect outside stores across CLI subprocesses
  tests/test_knowledge_subprocess.py
Due: none

fix(hooks): make deprecated knowledge injection opt in
  docs/memory.rst
  gptme/hooks/__init__.py
  gptme/knowledge.py
  tests/test_hooks_knowledge_inject.py
Due: check-rst-formatting

docs(memory): retain confirmation in legacy hook opt-in example
  docs/memory.rst
  gptme/knowledge.py
  tests/test_hooks_knowledge_inject.py
Due: check-rst-formatting

fix(vent): preserve launcher session and runtime provenance (#4156)
  gptme/tools/vent.py
  tests/test_vent.py
Due: none

test(knowledge): protect outside stores across CLI subprocesses (#4159)
  tests/test_knowledge_subprocess.py
Due: none

fix(hooks): make deprecated knowledge injection opt in (#4160)
  docs/memory.rst
  gptme/hooks/__init__.py
  gptme/knowledge.py
  tests/test_hooks_knowledge_inject.py
Due: check-rst-formatting

fix(openai-subscription): clamp Codex instructions to 1MB char cap
  gptme/llm/llm_openai_subscription.py
  tests/test_llm_openai_subscription.py
Due: none

fix(browser): configure executable independently of engine
  docs/tools/browser.rst
  gptme/tools/_browser_thread.py
  tests/test_browser_executable_path_env.py
Due: check-rst-formatting

fix(llm): accept mixed-case image attachment extensions
  gptme/llm/utils.py
  tests/test_llm_image_attachments.py
Due: none
