Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(status): reject non-string provider mapping keys before json.dumps
  gptme/cli/cmd_status.py
  tests/test_cli_status.py
Due: none

fix(status): sanitize nested dict keys before json.dumps
  gptme/cli/cmd_status.py
  tests/test_cli_status.py
Due: none

fix(cli): rethink --version output format, remove --version-short
  gptme/cli/main.py
  tests/test_cli.py
  tests/test_info.py
  tests/test_search_alias.py
Due: none

fix(status): extend _sanitize_nested_dict_keys to traverse tuples
  gptme/cli/cmd_status.py
  tests/test_cli_status.py
Due: none

docs: add PTC tool interface design doc and architecture rationale
  docs/design/ptc-tool-interface.md
  docs/index.rst
  docs/tools.rst
Due: check-rst-formatting, check-markdown-endings

docs(ptc): correct provider-native tool mode — schemas ARE sent to provider APIs
  docs/design/ptc-tool-interface.md
  docs/tools.rst
Due: check-rst-formatting, check-markdown-endings

docs(ptc): fix base.py ownership — it parses provider-native tool responses
  docs/design/ptc-tool-interface.md
Due: check-markdown-endings

docs(ptc): clarify verdict — separate schema-dispatch from JSON argument parsing
  docs/design/ptc-tool-interface.md
Due: check-markdown-endings

docs(ptc): fix tools.rst — markdown dispatch routes any registered tool, not just python/shell
  docs/tools.rst
Due: check-rst-formatting

fix(test): clear log_warn_once cache between tests
  tests/conftest.py
Due: none

ci: add a focused Windows path/config smoke lane
  .github/workflows/test.yml
Due: none

fix(ci): add make build before poetry install in test-windows job
  .github/workflows/test.yml
Due: none

docs(ptc): remove fabricated arXiv citation, replace with first-principles rationale
  docs/design/ptc-tool-interface.md
Due: check-markdown-endings

feat(cli): add `gptme explain` for offline concept answers
  gptme/cli/cmd_explain.py
  gptme/cli/util.py
  gptme/data/faq.yaml
  pyproject.toml
  tests/test_cli_explain.py
Due: none

fix(explain): stop-word filter, wheel include, and FAQ accuracy
  gptme/cli/cmd_explain.py
  gptme/data/faq.yaml
  pyproject.toml
Due: none

fix(explain): scope fuzzy match to names only, expand stop-words, fix /summarize FAQ
  gptme/cli/cmd_explain.py
  gptme/data/faq.yaml
  tests/test_cli_explain.py
Due: none

docs: clarify conversation, branch, fork, and session terminology
  docs/glossary.md
  docs/usage.rst
Due: check-rst-formatting, check-markdown-endings

docs(glossary): fix two inaccuracies flagged by Greptile
  docs/glossary.md
Due: check-markdown-endings

fix(explain): correct /compact FAQ — auto is rule-based compression, not history replacement
  gptme/data/faq.yaml
Due: none

fix(explain): handle missing/malformed FAQ file and empty entries list
  gptme/cli/cmd_explain.py
  tests/test_cli_explain.py
Due: none

fix(status): validate narrative_sections() return type before join
  gptme/cli/cmd_status.py
  tests/test_cli_status.py
Due: none

fix(ci): drop redundant make build from Windows job (make build = poetry install)
  .github/workflows/test.yml
Due: none

test(explain): assert normalized aliases are unique across topics
  tests/test_cli_explain.py
Due: none

fix(harness): reject unterminated delimiter quotes in shlex fallback path; clarify docs
  docs/harness.md
  gptme/harness.py
  tests/test_harness_updates.py
Due: check-markdown-endings

fix(server): validate provider API key before saving it
  gptme/server/api_v2.py
  tests/test_server_v2.py
Due: none

Add TrustedRouter provider
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  gptme/llm/models/data.py
  gptme/llm/models/types.py
  gptme/llm/validate.py
Due: none

feat(hooks): add agent-devtools trace exporter plugin
  docs/plugins.rst
  gptme/hooks/agent_devtools.py
  gptme/hooks/tests/test_agent_devtools.py
  gptme/tools/base.py
  pyproject.toml
  tests/test_execute_msg_hook_call_id.py
Due: check-rst-formatting

fix(tauri): show real API-key errors and stop Windows sidecar crash
  gptme/__version__.py
  tauri/Makefile
  tauri/README.md
  tauri/scripts/build-sidecar.sh
  tests/test_misc_subprocess_timeouts.py
  webui/src/components/SetupWizard.tsx
  webui/src/components/WelcomeView.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/components/settings/ServerApiKeySettings.tsx
  webui/src/components/settings/__tests__/ServerApiKeySettings.test.tsx
  webui/src/hooks/useModels.ts
  webui/src/hooks/useProviderHealth.ts
  webui/src/hooks/useUserSettings.ts
  webui/src/utils/__tests__/errors.test.ts
  webui/src/utils/__tests__/modelsError.test.ts
  webui/src/utils/errors.ts
  webui/src/utils/modelsError.ts
Due: check-markdown-endings

fix(explain): report invalid FAQ structure cleanly
  gptme/cli/cmd_explain.py
  tests/test_cli_explain.py
Due: none

fix(explain): handle plural queries and empty topics
  gptme/cli/cmd_explain.py
  tests/test_cli_explain.py
Due: none

refactor(tools): name assistant tool-change requests explicitly
  docs/harness.md
  docs/index.rst
  docs/tools.rst
  gptme/acp/agent.py
  gptme/chat.py
  gptme/message.py
  gptme/server/session_step.py
  gptme/session.py
  gptme/tool_change.py
  gptme/tui/app.py
  tests/test_tool_change_requests.py
Due: check-rst-formatting, check-markdown-endings

docs(design): complete PTC audit — paper citation + full tools coverage
  docs/design/ptc-tool-interface.md
Due: check-markdown-endings

docs(ptc): address recursive audit review
  docs/design/ptc-tool-interface.md
Due: check-markdown-endings

fix(status): isolate malformed table values
  gptme/cli/cmd_status.py
  tests/test_cli_status.py
Due: none

fix(hooks): make read auto-approval configurable
  docs/config.rst
  gptme/hooks/cli_confirm.py
  tests/test_tool_risk_tier.py
Due: check-rst-formatting

fix(tools): persist preset names verbatim, remove expansion-based detection
  gptme/config/cli_setup.py
  gptme/tools/_allowlist.py
  tests/test_config.py
Due: none

fix(tools): address remaining read-only preset findings
  gptme/cli/main.py
  gptme/config/cli_setup.py
  tests/test_cli.py
  tests/test_config.py
Due: none
