Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

docs: add skills/hooks-design to main toctree
  docs/index.rst
  docs/skills/README.md
Due: check-rst-formatting, check-markdown-endings

feat(llm): add constrained decoding support for OpenAI provider
  gptme/llm/llm_openai.py
Due: none

fix(llm): remove duplicate line and unused parameter in OpenAI provider
  gptme/llm/llm_openai.py
Due: none

feat(llm): add constrained decoding support for Anthropic provider
  gptme/llm/llm_anthropic.py
Due: none

feat(llm): add validation-only fallback for constrained decoding (Phase 3)
  gptme/llm/__init__.py
Due: none

feat(llm): integrate output_schema through chat→subagent call chain (Phase 4)
  gptme/chat.py
  gptme/tools/subagent.py
Due: none

feat(llm): add constrained decoding support for Anthropic (Phase 2)
  gptme/llm/llm_anthropic.py
Due: none

fix(tests): update test to use _get_compacted_name after rebase
  gptme/llm/llm_anthropic.py
Due: none

fix(tests): update test_auto_compact.py for timestamp-based naming
  tests/test_auto_compact.py
Due: none

fix: add better cost telemetry logging in optimizable scenarios
  gptme/telemetry.py
Due: none

fix: fixed log message and only log cost warning for large requests (>20k tok)
  gptme/telemetry.py
Due: none

feat(context): implement AdaptiveCompressor for Phase 3.1 Week 3-4
  gptme/context/__init__.py
  gptme/context/adaptive_compressor.py
  tests/context/test_adaptive_compressor.py
Due: none

feat(autocompact): add Phase 3 extractive compression to auto_compact_log
  gptme/tools/autocompact.py
Due: none

test(autocompact): add Phase 3 extractive compression tests
  tests/test_auto_compact.py
Due: none

docs: clarify skills vs plugins architecture
  docs/plugins.rst
  docs/skills/README.md
Due: check-rst-formatting, check-markdown-endings

fix(docs): align RST table columns in plugins.rst
  docs/plugins.rst
Due: check-rst-formatting

fix(docs): add explicit RST targets for cross-references
  docs/plugins.rst
Due: check-rst-formatting

fix(docs): use correct MyST cross-reference syntax
  docs/skills/README.md
Due: check-markdown-endings

docs(concepts): add core concepts page explaining extensibility
  docs/concepts.rst
  docs/index.rst
  docs/plugins.rst
Due: check-rst-formatting

docs: add hyperlinks to example plugins in concepts.rst
  docs/concepts.rst
Due: check-rst-formatting

fix(docs): resolve Sphinx build warnings
  docs/plugins.rst
  docs/usage.rst
Due: check-rst-formatting

fix(docs): correct gptme-contrib branch from main to master
  docs/concepts.rst
Due: check-rst-formatting

fix(docs): correct undefined variable in hook example
  docs/concepts.rst
Due: check-rst-formatting

fix(docs): update broken cross-reference to usage-commands
  docs/concepts.rst
Due: check-rst-formatting

fix(docs): return content with TODO in hook example
  docs/concepts.rst
Due: check-rst-formatting

feat: add Cursor .mdc rules support for cross-system compatibility
  gptme/lessons/index.py
  gptme/lessons/parser.py
  tests/test_lessons_parser.py
Due: none

fix: remove unused has_match variable in parser
  gptme/lessons/index.py
  gptme/lessons/parser.py
  tests/test_lessons_parser.py
Due: none

test: fix cursorrules detection test to match actual log message
  tests/test_lessons_integration.py
Due: none

fix(context): make Phase 3 compression run even when below limit
  gptme/tools/autocompact.py
  tests/test_auto_compact.py
Due: none

test(context): add Phase 3 validation corpus
  tests/validate_phase3_corpus.py
Due: none

fix(llm): add type cast for ToolParam in _spec2tool function
  gptme/llm/llm_anthropic.py
Due: none

fix(llm): add type cast for ToolParam in _make_schema_tool function
  gptme/llm/llm_anthropic.py
Due: none

fix(llm): add explicit type annotations for schema_tool variables
  gptme/llm/llm_anthropic.py
Due: none

fix(llm): remove duplicate schema tool creation in Anthropic provider
  gptme/llm/llm_anthropic.py
Due: none

fix(llm): remove quotes from type annotations (UP037)
  gptme/llm/llm_anthropic.py
Due: none

test: reduce Anthropic retries in subagent tests to prevent CI timeout
  tests/test_tools_subagent.py
Due: none

fix(test): properly limit Anthropic retries via environment variable
  gptme/llm/llm_anthropic.py
  tests/test_tools_subagent.py
Due: none

fix: remove duplicate import os in llm_anthropic.py
  gptme/llm/llm_anthropic.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
