Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

test(dspy): add comprehensive unit tests for GptmeReasoningProgram
  tests/test_dspy_reasoning_program.py
Due: none

fix: correct import sorting in reasoning program tests
  tests/test_dspy_reasoning_program.py
Due: none

fix: add required 'run' field to EvalSpec fixture
  tests/test_dspy_reasoning_program.py
Due: none

fix: use dict instead of list for files in EvalSpec fixture
  tests/test_dspy_reasoning_program.py
Due: none

fix(tests): skip test_execute_with_recovery_max_retries to prevent LLM calls in CI
  tests/test_dspy_reasoning_program.py
Due: none

fix: detect git version from pip's direct_url.json for pipx installs
  gptme/__version__.py
Due: none

feat(context): implement Phase 3.2 auto-compact trigger
  gptme/logmanager.py
  tests/test_auto_compact_trigger.py
Due: none

fix(tests): explicitly disable chat history in server v2 test
  tests/test_server_v2.py
Due: none

fix(dspy): register metadata for complexity test tasks
  gptme/eval/dspy/tasks.py
Due: none

fix(tests): add module-level skip for test_dspy_hybrid when dspy not available
  gptme/eval/dspy/tasks.py
Due: none

fix(tests): add skip decorator to test_execute_with_recovery_max_retries
  tests/test_dspy_reasoning_program.py
Due: none

feat: add plugin management system with smart src/ layout discovery
  gptme.toml
  gptme/commands.py
  gptme/plugins/__init__.py
Due: none

fix: handle string type annotations in derive_type
  gptme/tools/base.py
Due: none

fix: address review feedback on PR #873
  gptme.toml
  gptme/plugins/__init__.py
  tests/test_plugins.py
Due: none

fix: address review feedback on PR #873
  gptme.toml
  gptme/plugins/__init__.py
Due: none

fix: remove duplicate return statement in uvx detection
  gptme/plugins/__init__.py
Due: none

fix: skip empty plugin component packages in discovery
  gptme/plugins/__init__.py
Due: none

fix: correct test expectations and remove duplicate return
  tests/test_plugins.py
Due: none

revert: incorrect test expectation change
  tests/test_plugins.py
Due: none

fix: add actual tool files to plugin tests
  tests/test_plugins.py
Due: none

fix: update plugin tests for empty package detection and fix Mock arithmetic in _record_usage
  gptme/llm/llm_openai.py
  tests/test_plugins.py
Due: none

ci: increase test timeout from 8 to 15 minutes
  .github/workflows/test.yml
Due: none

feat(skills): implement Phase 4.1 - skills infrastructure
  docs/skills/README.md
  gptme/lessons/parser.py
  gptme/skills/examples/python-repl-skill.md
  gptme/skills/examples/python_helpers.py
Due: check-markdown-endings

fix(ci): resolve build, lint, and typecheck failures
  docs/index.rst
  docs/skills/README.md
  gptme/lessons/parser.py
  gptme/skills/examples/python_helpers.py
Due: check-rst-formatting, check-markdown-endings

fix(skills): resolve Greptile review issues in Phase 4.1
  gptme/skills/examples/python-repl-skill.md
  gptme/skills/examples/python_helpers.py
Due: check-markdown-endings

refactor(skills): adopt Anthropic skill format per maintainer feedback
  docs/skills/README.md
  gptme/lessons/parser.py
  gptme/lessons/skills/python-repl/SKILL.md
  gptme/lessons/skills/python-repl/python_helpers.py
  gptme/lessons/skills/python-repl/requirements.txt
Due: check-markdown-endings

docs(skills): fix documentation-implementation mismatch
  docs/skills/README.md
  gptme/lessons/skills/python-repl/SKILL.md
Due: check-markdown-endings

test: mark flaky test as flaky
  tests/test_server_v2_sse.py
Due: none

feat(skills): implement hook system (Phase 4.2)
  docs/skills/README.md
  docs/skills/hooks-design.md
  gptme/lessons/hooks.py
  gptme/lessons/parser.py
  gptme/lessons/skills/example-hooks/SKILL.md
  gptme/lessons/skills/example-hooks/hooks/on_error.py
  gptme/lessons/skills/example-hooks/hooks/post_execute.py
  gptme/lessons/skills/example-hooks/hooks/pre_execute.py
  tests/test_hooks.py
Due: check-markdown-endings

feat(skills): integrate hook system into execution flow
  docs/skills/README.md
  gptme/lessons/hooks.py
  gptme/lessons/index.py
  gptme/logmanager.py
  gptme/tools/__init__.py
  tests/test_hooks.py
  tests/test_hooks_integration.py
Due: check-markdown-endings

docs(skills): add hooks-design to toctree
  docs/skills/README.md
Due: check-markdown-endings
