Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

fix(onboard): handle azure provider and missing recommended models
  gptme/onboard.py
Due: none

fix(onboard): extract env_vars constant and fix gemini mapping
  gptme/onboard.py
Due: none

fix: address remaining review comments
  gptme/onboard.py
  tests/test_onboard.py
Due: none

fix(shell): correct markdown heading level for Background Jobs section
  gptme/tools/shell.py
Due: none

docs: clarify lessons vs skills distinction
  docs/concepts.rst
  docs/lessons.rst
  docs/skills/README.md
Due: check-rst-formatting, check-markdown-endings

docs: address review feedback on skills documentation
  docs/skills/README.md
Due: check-markdown-endings

docs: rename skills/README.md to skills.rst
  docs/concepts.rst
  docs/index.rst
  docs/lessons.rst
  docs/plugins.rst
  docs/skills.rst
  docs/skills/README.md
Due: check-rst-formatting, check-markdown-endings

docs: remove roadmap section from skills docs
  docs/skills.rst
Due: check-rst-formatting

docs: add lesson-suggests-skill pattern to skills docs
  docs/skills.rst
Due: check-rst-formatting

refactor(cli): reorganize CLI code into gptme/cli/ module
  gptme/cli/__init__.py
  gptme/cli/doctor.py
  gptme/cli/main.py
  gptme/cli/onboard.py
  gptme/cli/setup.py
  gptme/cli/util.py
  gptme/init.py
  pyproject.toml
  tests/test_doctor.py
  tests/test_onboard.py
Due: none

refactor: move CLI into gptme/cli/ module
  gptme/__init__.py
  gptme/__main__.py
  gptme/cli/__init__.py
  gptme/cli/doctor.py
  gptme/cli/main.py
  gptme/cli/onboard.py
  gptme/cli/setup.py
  gptme/cli/util.py
  gptme/init.py
  gptme/tools/subagent.py
  pyproject.toml
  tests/test_cli.py
  tests/test_doctor.py
  tests/test_onboard.py
  tests/test_tools_subagent.py
Due: none

fix(docs): update CLI module paths for sphinx-click after refactoring
  docs/cli.rst
  gptme/cli/__init__.py
  gptme/init.py
Due: check-rst-formatting

fix: update import paths after CLI module refactoring
  gptme/cli/setup.py
  gptme/commands/meta.py
  tests/test_mcp.py
  tests/test_util_cli.py
  tests/test_util_cli_mcp.py
Due: none

fix(tests): update cli.py path to cli/main.py after refactoring
  tests/test_reduce.py
Due: none

fix(tests): update mock paths after CLI module refactoring
  tests/test_reduce.py
  tests/test_util_cli_mcp.py
Due: none

refactor: move top-level files to appropriate modules
  gptme/cli/wut.py
  gptme/context/selector/rule_based.py
  gptme/lessons/matcher.py
  gptme/util/keyword_matching.py
  pyproject.toml
  tests/lessons/test_wildcard_matching.py
Due: none

fix(chat): allow explicit model param to bypass default_model assertion
  gptme/chat.py
Due: none

fix(chat): restructure type checks for proper narrowing
  gptme/chat.py
Due: none

fix(chat): restructure type checks for mypy narrowing
  gptme/chat.py
Due: none

feat(prompts): add safeguard truncation for context_cmd output
  gptme/prompts.py
Due: none

Update gptme/prompts.py
  gptme/prompts.py
Due: none

fix(prompts): restore truncation line accidentally deleted in suggestion commit
  gptme/prompts.py
Due: none

fix(prompts): restore missing truncation line in context_cmd safeguard
  gptme/prompts.py
Due: none

fix(llm): handle OpenRouter subprovider suffix in model lookup
  gptme/llm/models.py
  gptme/prompts.py
  tests/test_llm_models.py
Due: none

feat(agent): detect existing agent workspaces and enhance status command
  gptme/agent/cli.py
  gptme/agent/workspace.py
  tests/test_agent.py
Due: none

fix: support [lessons] section in user config
  gptme/config.py
  gptme/lessons/index.py
Due: none

refactor(agent): rename setup command to create
  gptme/agent/cli.py
Due: none

fix(llm): preserve subprovider suffix in dynamic fetch path
  gptme/llm/models.py
Due: none

fix: add type check for lessons_data
  gptme/config.py
Due: none

fix: update remaining setup references to create
  gptme/agent/cli.py
Due: none

fix(agent): handle permission errors when scanning directories
  gptme/agent/workspace.py
Due: none

test: update agent tests for setup -> create rename
  tests/test_agent.py
Due: none

fix(llm): add reasoning_content for OpenRouter reasoning models with tool_calls
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

fix(llm): parse <think> tags to preserve actual reasoning_content
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

fix(llm): prevent context duplication by stripping <think> tags from content
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

docs(design): add hook-based tool confirmations proposal
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

docs(design): update implementation status for Phase 6.4
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

docs(design): update implementation status with v1 API integration
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
