Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(eval): close dynamic-import bypass; harden third execenv mock
  gptme/eval/suites/constraint_satisfaction.py
  tests/test_execenv.py
Due: none

fix(tools): preserve CRLF line endings in patch and morph (#4081)
  gptme/tools/base.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  tests/test_tools_morph.py
  tests/test_tools_patch.py
Due: none

fix(anthropic): only treat numeric suffixes as dated releases
  gptme/llm/llm_anthropic.py
  tests/test_llm_anthropic.py
Due: none

test(anthropic): re-collect thinking-param tests swallowed by wire-payload test
  tests/test_llm_anthropic.py
Due: none

docs: note gptme's 128K context for custom-provider models
  docs/providers-custom.rst
Due: check-rst-formatting

fix(eval): honor positional-only params in signature check; document static bound
  gptme/eval/suites/constraint_satisfaction.py
Due: none

docs(tool-formats): don't attribute OpenRouter aliases to the Claude 5.x families
  docs/tool-formats.rst
Due: check-rst-formatting

test(anthropic): cover empty signed thinking block round-trip
  tests/test_llm_anthropic.py
Due: none

test(models): assert detailed list renders parallel-fetched models
  tests/test_llm_models.py
Due: none

revert(test): drop unnecessary execenv mock guard
  tests/test_execenv.py
Due: none

test(anthropic): type-check empty-signed-thinking assertion
  tests/test_llm_anthropic.py
Due: none

docs(tool-formats): scope parallel-tool-calls claim to Claude Opus/Sonnet OpenRouter aliases
  docs/tool-formats.rst
Due: check-rst-formatting

fix(eval): close schema-optional and infra-fixture false-pass paths
  gptme/eval/suites/constraint_satisfaction.py
Due: none

docs(citation): add Zenodo concept DOI and badge
  CITATION.cff
  README.md
Due: check-markdown-endings

fix(eval): catch keyword-form dynamic infra imports in boundary check
  gptme/eval/suites/constraint_satisfaction.py
Due: none

fix(webui): gate sidebar external-sessions query on server capability
  webui/src/components/UnifiedSidebar.tsx
  webui/src/components/__tests__/UnifiedSidebar.test.tsx
  webui/src/types/api.ts
  webui/src/utils/api.ts
Due: none

fix(webui): anchor toasts top-right so they never cover the composer
  webui/src/components/ui/toast.tsx
Due: none

fix(eval): require explicit default in schema-optional check
  gptme/eval/suites/constraint_satisfaction.py
Due: none

fix(webui): retry capability lookup and shorten its cache
  webui/src/components/UnifiedSidebar.tsx
  webui/src/components/__tests__/UnifiedSidebar.test.tsx
Due: none

fix(webui): center toasts at the top on desktop
  webui/src/components/ui/toast.tsx
Due: none

fix(webui): show the sent model in the pill while chatConfig loads
  webui/src/components/ChatInput.tsx
  webui/src/components/__tests__/ChatInput.test.tsx
  webui/src/stores/conversations.ts
  webui/src/utils/api.ts
Due: none

fix(eval): scope schema-optional check to the Task field
  gptme/eval/suites/constraint_satisfaction.py
Due: none

fix(webui): never fall back to pendingModel once chatConfig resolves
  webui/src/components/ChatInput.tsx
  webui/src/components/__tests__/ChatInput.test.tsx
Due: none

fix(webui): apply toast centering only at md+ to avoid mid-range half state
  webui/src/components/ui/toast.tsx
Due: none

fix(eval): accept an inherited defaulted priority in the schema-optional check
  gptme/eval/suites/constraint_satisfaction.py
  tests/test_eval_constraint_satisfaction.py
Due: none

fix(webui): show the sent model in the pill while chatConfig loads (#4150)
  webui/src/components/ChatInput.tsx
  webui/src/components/__tests__/ChatInput.test.tsx
  webui/src/stores/conversations.ts
  webui/src/utils/api.ts
Due: none

fix(startup): defer prompt UI imports until interactive input (#4131)
  gptme/chat.py
  gptme/cli/main.py
  tests/test_chat.py
  tests/test_import_boundaries.py
Due: none

fix(compaction): share bounded overflow recovery across CLI and server
  docs/context-compression.rst
  gptme/chat.py
  gptme/server/session_step.py
  gptme/tools/autocompact/recovery.py
  tests/test_overflow_recovery.py
Due: check-rst-formatting

fix(compaction): address Greptile P1s — pinned-state collision and revoked-retry commit
  gptme/server/session_step.py
  gptme/tools/autocompact/recovery.py
  tests/test_overflow_recovery.py
Due: none

fix(compaction): guard overflow_guard restore against interrupted; skip server tests without flask
  gptme/server/session_step.py
  tests/conftest.py
Due: none

fix(server): commit overflow-recovered reply under the epoch-check lock hold
  gptme/server/session_step.py
Due: none

fix(compaction): drop redundant interrupted check from overflow restore guard
  gptme/server/session_step.py
Due: none

fix(mcp): load workspace config in diagnostic CLI commands (#4050)
  docs/mcp.rst
  gptme/cli/cmd_mcp.py
  tests/test_util_cli_mcp.py
Due: check-rst-formatting

fix(subagent): forward reasoning_effort on clarification respawn
  gptme/tools/subagent/api.py
  tests/test_subagent_unit.py
Due: none

fix(subagent): rebind config copy for effort override; report duration on subprocess failure
  gptme/tools/subagent/execution.py
  tests/test_subagent_unit.py
Due: none

fix(telemetry): account for explicit OpenRouter cache-read prices
  gptme/llm/llm_openai.py
  gptme/llm/models/data.py
  gptme/llm/models/listing.py
  gptme/llm/models/types.py
  gptme/telemetry.py
  tests/test_openrouter_cache_pricing.py
Due: none

fix(telemetry): resolve qualified OpenRouter model before cost lookup
  gptme/telemetry.py
  tests/test_openrouter_cache_pricing.py
Due: none

docs(computer-use): note that macOS needs no Full Disk Access
  docs/howto/computer-use.md
Due: check-markdown-endings

docs(computer-use): qualify macOS permission claim for accessibility actions
  docs/howto/computer-use.md
Due: check-markdown-endings
