Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

docs: move Agent Profiles next to Agents
  docs/index.rst
Due: check-rst-formatting

docs: nest Profiles under Agents
  docs/agents.rst
  docs/index.rst
  scripts/docs_structure.py
Due: check-rst-formatting

docs: lead the agents page with Bob and a quick start
  docs/agents.rst
Due: check-rst-formatting

docs: trim the agent dependency block
  docs/agents.rst
Due: check-rst-formatting

docs: turn the agents Usage section into Growing an agent
  docs/agents.rst
Due: check-rst-formatting

docs: split agents into a hub, workspace, and autonomous pages
  README.md
  docs/agents.rst
  docs/agents/autonomous.rst
  docs/agents/workspace.rst
Due: check-rst-formatting, check-markdown-endings

docs: contrast autonomous and project-monitoring run loops
  docs/agents/autonomous.rst
Due: check-rst-formatting

docs: link subpages from their hub pages, and check for it
  docs/agents.rst
  docs/cli.rst
  docs/getting-started.rst
  scripts/docs_structure.py
  tests/test_docs_structure.py
Due: check-rst-formatting

feat(skills): export lifecycle metrics and measured cost windows
  docs/skills.rst
  gptme/lessons/skill_events.py
  gptme/telemetry.py
  gptme/util/_telemetry.py
  gptme/util/cost_tracker.py
  tests/test_skill_events.py
  tests/test_skill_metrics.py
Due: check-rst-formatting

fix(config): order model layers by specificity, unify resolution
  docs/config.rst
  docs/models.rst
  gptme/config/__init__.py
  gptme/config/cli_setup.py
  gptme/config/core.py
  gptme/init.py
  tests/test_config.py
Due: check-rst-formatting

fix(config): make a resumed chat's [env].MODEL reachable
  gptme/config/cli_setup.py
  tests/test_config.py
Due: none

fix(tools): address Greptile P1s — screenshot gate + companion already-loaded
  gptme/tools/__init__.py
  gptme/tools/vision.py
  tests/test_tool_conditionals.py
Due: none

feat(tools): conditional tool docs + companion tools (requires_tools)
  docs/tools.rst
  gptme/tools/__init__.py
  gptme/tools/base.py
  gptme/tools/chats.py
  gptme/tools/hashline_edit.py
  gptme/tools/vision.py
  tests/test_tool_conditionals.py
Due: check-rst-formatting

fix(tools): enforce companion capability boundaries
  docs/tools.rst
  gptme/commands/llm.py
  gptme/tools/__init__.py
  gptme/tools/base.py
  tests/test_commands_llm.py
  tests/test_tool_conditionals.py
Due: check-rst-formatting

fix(tools): make companion loading fail atomically
  gptme/tools/__init__.py
  tests/test_tool_conditionals.py
Due: none

fix(tests): clear_tools before init_tools in vision conditional test
  tests/test_tool_conditionals.py
Due: none

fix(tools): vision docs should check for read, not screenshot
  gptme/tools/vision.py
Due: none

fix(tools): preserve indented conditional markers
  gptme/tools/__init__.py
  gptme/tools/base.py
  tests/test_tool_conditionals.py
Due: none

fix(tools): address convergence findings
  gptme/tools/__init__.py
  gptme/tools/base.py
  tests/test_tool_conditionals.py
Due: none

fix(tools): close companion dependency gaps
  gptme/tools/__init__.py
  gptme/tools/base.py
  tests/test_tool_conditionals.py
Due: none

fix(tools): preserve nonstrict companion loading
  gptme/tools/__init__.py
  tests/test_tool_conditionals.py
Due: none

refactor(tools): clarify requested spec identity
  gptme/tools/__init__.py
  tests/test_tool_conditionals.py
Due: none

fix(tools): discard partial companion closure
  gptme/tools/__init__.py
  tests/test_tool_conditionals.py
Due: none

fix(tools): mark restored tool contexts initialized
  gptme/tools/__init__.py
  tests/test_tool_conditionals.py
Due: none

fix(tools): isolate nonstrict dependency failures
  gptme/tools/__init__.py
  tests/test_tool_conditionals.py
Due: none

fix(logmanager): acknowledge completion after transcript barriers
  docs/cli/sessions.rst
  gptme/chat.py
  gptme/logmanager/durability.py
  gptme/logmanager/eventlog.py
  gptme/logmanager/manager.py
  gptme/server/session_step.py
  tests/test_logmanager.py
  tests/test_model_selection_trace_export.py
  tests/test_server_v2_auto_stepping.py
  tests/test_transcript_durability.py
Due: check-rst-formatting

fix(chat): synchronize consumed command turns
  gptme/chat.py
  tests/test_transcript_durability.py
Due: none

fix(logmanager): sync model trace before replacement
  gptme/logmanager/manager.py
  tests/test_model_selection_trace_export.py
Due: none

fix(logmanager): preserve transcript permissions on rewrite
  gptme/logmanager/manager.py
  tests/test_logmanager.py
Due: none

fix(logmanager): sync permissions before replacement
  gptme/logmanager/manager.py
  tests/test_logmanager.py
Due: none

fix(shell): restart promptly when persistent pipes close
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

fix(shell): claim completion notifications atomically
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

fix(shell): avoid signalling completed background jobs
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

fix(shell): reconcile background controls with bash
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_guardrail_hook.py
  tests/test_shell_background.py
  tests/test_tools_shell.py
Due: none

test(shell): remove duplicate stale background suite
  tests/test_tools_shell_background.py
Due: none

fix(shell): serialize completion delivery with reset
  gptme/tools/shell_background.py
Due: none

refactor(shell): background whole tool calls
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_shell_background.py
  tests/test_tools_shell.py
Due: none

fix(shell): make completion purge atomic
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

fix(shell): bind completions to job instances
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

fix(shell): close final completion review findings
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none
