Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

docs(cli): document JSONL automation mode
  README.md
  docs/features.rst
  docs/usage.rst
Due: check-rst-formatting, check-markdown-endings

docs(cli): document JSONL automation mode (#2403)
  README.md
  docs/features.rst
  docs/usage.rst
Due: check-rst-formatting, check-markdown-endings

feat(openai): add feature-gated responses chat path
  gptme/llm/llm_openai.py
  gptme/llm/llm_openai_models.py
  gptme/llm/models/listing.py
  gptme/llm/models/resolution.py
  gptme/llm/models/types.py
  tests/test_llm_models.py
  tests/test_llm_openai.py
Due: none

test(models): add supports_responses_api to CLI test SimpleNamespace mocks
  tests/test_util_cli.py
Due: none

fix(models): default missing responses-api capability in listing
  gptme/llm/models/listing.py
Due: none

fix(openai): pass system messages as instructions in Responses API path
  gptme/llm/llm_openai.py
Due: none

fix(openai): stream() in Responses API path must yield from instead of returning generator
  gptme/llm/llm_openai.py
Due: none

test(openai): cover responses helpers
  tests/test_llm_openai.py
Due: none

fix(openai): dedupe responses stream thinking text
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

fix(openai): preserve responses stream schemas
  gptme/llm/llm_openai.py
  gptme/llm/models/listing.py
  tests/test_llm_openai.py
Due: none

feat(openai): add feature-gated Responses API chat path (#2397)
  gptme/llm/llm_openai.py
  gptme/llm/llm_openai_models.py
  gptme/llm/models/listing.py
  gptme/llm/models/resolution.py
  gptme/llm/models/types.py
  tests/test_llm_models.py
  tests/test_llm_openai.py
  tests/test_util_cli.py
Due: none

docs(providers): document OpenAI Responses API gate
  docs/providers.rst
Due: check-rst-formatting

docs(providers): clarify Responses API gate
  docs/providers.rst
Due: check-rst-formatting

refactor(openai): share Responses API helpers
  gptme/llm/llm_openai.py
  gptme/llm/llm_openai_subscription.py
  gptme/llm/openai_responses.py
  tests/test_llm_openai.py
  tests/test_llm_openai_subscription.py
Due: none

fix(openai): restore responses helper review fixes
  gptme/llm/llm_openai.py
  gptme/llm/openai_responses.py
  tests/test_llm_openai.py
Due: none

refactor(openai): share Responses API helpers (#2405)
  gptme/llm/llm_openai.py
  gptme/llm/llm_openai_subscription.py
  gptme/llm/openai_responses.py
  tests/test_llm_openai.py
  tests/test_llm_openai_subscription.py
Due: none

feat(tools): add trigger language for shell, read, and gh
  gptme/tools/gh.py
  gptme/tools/read.py
  gptme/tools/shell.py
Due: none

fix(tools): address Greptile review — remove 'read' ambiguity in shell trigger, rephrase read tool in capability framing
  gptme/tools/read.py
  gptme/tools/shell.py
Due: none

docs: make finetuning page honest about current support
  docs/finetuning.md
Due: check-markdown-endings

fix(docs): correct 6 technical errors in FAQ section
  README.md
Due: check-markdown-endings

fix(webui): preserve structured API errors
  webui/src/components/ui/badge.tsx
  webui/src/components/ui/button.tsx
  webui/src/components/ui/sheet.tsx
  webui/src/types/api.ts
  webui/src/utils/__tests__/api.test.ts
  webui/src/utils/api.ts
  webui/src/utils/logging.ts
Due: none

fix(webui): guard normalizeApiError against null error details
  webui/src/utils/__tests__/api.test.ts
  webui/src/utils/api.ts
Due: none

fix(webui): preserve HTTP status for plain-string API errors
  webui/src/utils/__tests__/api.test.ts
  webui/src/utils/api.ts
Due: none

feat(setup): add fish completions confirmation prompt
  gptme/cli/setup.py
Due: none

fix(setup): move fish completions confirmation from installer to caller
  gptme/cli/setup.py
Due: none

docs(config): document default_config defaults for about, response_preference, and prompt.project
  docs/config.rst
Due: check-rst-formatting

docs(config): document built-in prompt.project defaults (ABOUT_ACTIVITYWATCH, ABOUT_GPTME)
  docs/config.rst
  gptme/config/user.py
Due: check-rst-formatting

docs(config): align example with documented defaults
  docs/config.rst
  gptme/config/user.py
Due: check-rst-formatting

docs(config): fix prompt.project matching description — use directory name, not remote
  docs/config.rst
Due: check-rst-formatting

feat(tools): add when-to-use trigger language for python, save, patch tools
  gptme/tools/patch.py
  gptme/tools/python.py
  gptme/tools/save.py
Due: none

fix(tools): trim trigger docs and restore patch warning
  gptme/tools/patch.py
  gptme/tools/python.py
  gptme/tools/save.py
  tests/test_llm_anthropic.py
  tests/test_llm_openai.py
Due: none

test(llm): restore save description regression guard
  tests/test_llm_anthropic.py
  tests/test_llm_openai.py
Due: none

feat(tools): add when-to-use trigger language for tmux and browser
  gptme/tools/browser.py
  gptme/tools/tmux.py
Due: none

fix(tools): restore tmux wait syntax hint
  gptme/tools/tmux.py
Due: none

fix(tmux): retry follow-up commands after session creation
  gptme/tools/tmux.py
  tests/test_tools_tmux.py
Due: none

test(chat): cover deferred path expansion in chained prompts
  gptme/cli/main.py
  tests/test_chat.py
Due: none
