Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(chat): check for DECLINED_CONTENT in _should_prompt_for_input
  gptme/chat.py
Due: none

fix(logmanager): robust lock handling with PID check for server mode
  gptme/logmanager.py
Due: none

fix(logmanager): address Greptile review feedback
  gptme/logmanager.py
Due: none

fix(server): improve skip message to prevent LLM re-suggestion
  gptme/server/api_v2_sessions.py
Due: none

fix(server): make session_id optional for tool confirmation
  gptme/server/api_v2_sessions.py
  gptme/server/openapi_docs.py
  tests/test_server_v2_tool_confirmation.py
Due: none

refactor(chat): remove vestigial _recently_interrupted variable
  gptme/chat.py
Due: none

fix(llm): add supports_reasoning flag to Gemini 2.x models
  gptme/llm/models.py
Due: none

fix(setup): recognize Gemini API keys in setup wizard
  gptme/llm/__init__.py
  gptme/setup.py
Due: none

docs(design): add hook-based tool confirmations proposal
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

docs: add design docs to toctree
  docs/index.rst
Due: check-rst-formatting

feat(hooks): add tool confirmation hook system
  gptme/hooks/__init__.py
  gptme/hooks/auto_confirm.py
  gptme/hooks/cli_confirm.py
  gptme/hooks/confirm.py
Due: none

feat(chat): register CLI confirmation hook for interactive mode
  gptme/chat.py
Due: none

docs(design): update implementation status with v1 API integration
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

feat(chat): integrate hook-based confirmation into confirm_func
  docs/design/hook-based-confirmations.md
  gptme/chat.py
Due: check-markdown-endings

fix(docs): add ToolConfirmHook to nitpick_ignore
  docs/conf.py
Due: none

test(hooks): add tests for tool confirmation hook system
  gptme/hooks/tests/test_confirm.py
Due: none

feat(hooks): add server confirmation hook (Phase 4)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/server_confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/server/api_v2_sessions.py
Due: check-markdown-endings

feat(hooks): add confirmation hook registration and bridge utilities
  gptme/hooks/__init__.py
  gptme/hooks/confirm_bridge.py
Due: none

feat(hooks): add server hook context vars and registration (Phase 5)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/server_confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/server/api.py
  gptme/server/api_v2_sessions.py
Due: check-markdown-endings

docs(design): update implementation status to match design phases
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

feat(server): integrate confirmation hooks into v1 API
  gptme/server/api.py
Due: none

docs(design): update implementation status for Phase 6.2-6.3
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

refactor(hooks): move CLI hook registration to init_hooks, use contextvars
  gptme/chat.py
  gptme/hooks/__init__.py
  gptme/hooks/confirm.py
  gptme/init.py
Due: none

refactor(hooks): revert Phase 5 tool migration - simplify without adding lines
  docs/design/hook-based-confirmations.md
  gptme/tools/mcp_adapter.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  gptme/tools/save.py
  gptme/tools/shell.py
  gptme/util/ask_execute.py
Due: check-markdown-endings

refactor(ask_execute): remove dead code after hook migration
  gptme/util/ask_execute.py
Due: none

docs(design): update implementation status for Phase 6.4
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

refactor(hooks): consolidate help text - Phase 6.4 simplification
  gptme/hooks/cli_confirm.py
  gptme/util/ask_execute.py
Due: none

refactor(hooks): consolidate preview printing - Phase 6.1 simplification
  docs/design/hook-based-confirmations.md
  gptme/hooks/cli_confirm.py
Due: check-markdown-endings

feat(hooks): implement tool auto-approve via ToolSpec hooks (Phase 8)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/tools/shell.py
Due: check-markdown-endings

feat(hooks): implement Phase 5 tool migration for hook-based confirmations
  docs/design/hook-based-confirmations.md
  gptme/hooks/confirm_bridge.py
  gptme/tools/mcp_adapter.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  gptme/tools/save.py
  gptme/tools/shell.py
  gptme/util/ask_execute.py
Due: check-markdown-endings

docs(design): update implementation status for Phase 7 - ask_execute removal
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

refactor(hooks): centralize auto-confirm state and unify server with CLI
  gptme/hooks/cli_confirm.py
  gptme/hooks/confirm.py
  gptme/hooks/server_confirm.py
  gptme/util/ask_execute.py
Due: none

refactor(hooks): remove confirm_bridge, use hooks directly in ToolUse.execute
  gptme/chat.py
  gptme/commands/base.py
  gptme/hooks/confirm_bridge.py
  gptme/server/api.py
  gptme/tools/__init__.py
  gptme/tools/base.py
  gptme/tools/parallel.py
Due: none

fix(types): resolve type errors from hooks refactor
  gptme/commands/session.py
  tests/test_parallel.py
Due: none

refactor(chat): remove deprecated confirm_func parameter
  gptme/chat.py
Due: none
