Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

fix(cli): address token tracking review findings
  gptme/chat.py
  gptme/cli/main.py
  tests/test_track_tokens.py
Due: none

feat(models): generate recommended-model docs from code, add V4 Flash 0731 / GLM 5.3 Flash / GPT-6 Astra / Grok 4.6, provider allowlists
  docs/evals.rst
  docs/providers.rst
  gptme/cli/util.py
  gptme/eval/leaderboard.py
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  gptme/llm/llm_openai_models.py
  gptme/llm/models/__init__.py
  gptme/llm/models/data.py
  gptme/llm/models/recommended.py
  gptme/llm/models/resolution.py
  tests/test_llm_models.py
  tests/test_llm_models_resolution.py
  tests/test_llm_openai.py
  tests/test_util_cli_models.py
Due: check-rst-formatting

fix(models): record resolved provider for multi-entry OpenRouter allowlists
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

fix(memory): make Codex round-trip test actually layered
  tests/test_memory_store.py
Due: none

fix(memory): serialize concurrent supersede with a root lock
  gptme/memory/store.py
  tests/test_memory_store.py
Due: none

fix(memory): document save-root vs auto-load and test default recall
  AGENTS.md
  docs/memory.rst
  tests/test_memory_store.py
Due: check-rst-formatting, check-markdown-endings

feat(memory): add Codex/AGENTS.md integration for cross-harness memory
  AGENTS.md
  docs/memory.rst
  tests/test_memory_store.py
Due: check-rst-formatting, check-markdown-endings

feat(memory): add supersession and audit commands (#3766)
  docs/memory.rst
  gptme/cli/cmd_memory.py
  gptme/memory/__init__.py
  gptme/memory/schema.py
  gptme/memory/store.py
  tests/test_memory_store.py
Due: check-rst-formatting

fix(memory): serialize concurrent supersede on Windows
  gptme/memory/store.py
  tests/test_memory_store.py
Due: none

fix(memory): restrict temp-file perms + serialize save with supersede via root lock
  gptme/memory/store.py
Due: none

docs(tool-formats): update registry coverage counts (102/121, parallel 61, strict 24)
  docs/tool-formats.rst
Due: check-rst-formatting

fix(memory): use os.fdopen for complete writes in atomic helpers
  gptme/memory/store.py
Due: none

feat(skills): record server and TUI invocation outcomes
  docs/skills.rst
  gptme/lessons/skill_events.py
  gptme/server/api_v2_sessions.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  gptme/tui/app.py
  tests/test_server_skill_events.py
  tests/test_tui_skill_events.py
Due: check-rst-formatting

fix(models): add supports_responses_api to gpt-6-astra; strip @provider suffix in _find_closest_model_properties; skip gptme provider in hermetic test
  gptme/llm/llm_openai_models.py
  gptme/llm/models/resolution.py
  tests/test_llm_models.py
Due: none

fix(tui): mark invocation completed when step limit fires on a final response
  gptme/tui/app.py
  tests/test_tui_skill_events.py
Due: none

fix(memory): address AI review findings — cross-root supersede, sanitize output, write_index lock, lenient name coercion
  gptme/cli/cmd_memory.py
  gptme/memory/schema.py
  gptme/memory/store.py
  tests/test_memory_store.py
Due: none

fix(models): lowercase provider IDs in _parse_provider_list
  gptme/llm/llm_openai.py
Due: none

fix(openrouter): always send data_collection=deny for reasoning models
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
  tests/test_llm_openai_reasoning_effort.py
Due: none

feat(memory): use layered MemoryStore in workspace prompt (#3625)
  gptme/prompts/workspace.py
  tests/test_cc_memory.py
Due: none

fix(openrouter): preserve data_collection=deny in relaxed 4xx fallback
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
  tests/test_llm_openai_reasoning_effort.py
Due: none

fix(ci): remove Google Chrome apt source to prevent hash mismatch on Ubuntu runners
  .github/workflows/build.yml
Due: none

fix(ci): also clear stale apt lists cache to fix hash sum mismatch
  .github/workflows/build.yml
Due: none

fix(memory): read index entries under the root lock
  gptme/memory/store.py
  tests/test_memory_store.py
Due: none

fix(memory): fall back to MEMORY.md when no individual entry files exist
  gptme/prompts/workspace.py
  tests/test_cc_memory.py
Due: none

fix(memory): evaluate each root independently for MEMORY.md fallback
  gptme/prompts/workspace.py
  tests/test_cc_memory.py
Due: none

fix(openrouter): use actual configured data_collection value in no-endpoints warning
  gptme/llm/llm_openai.py
Due: none

fix(memory): atomically restore read-only entries on rollback
  docs/memory.rst
  gptme/memory/store.py
  tests/test_memory_index_policy.py
  tests/test_memory_store.py
Due: check-rst-formatting

docs(memory): correct index policy heading underline
  docs/memory.rst
Due: check-rst-formatting

feat(memory): persist always-on index selection and byte budget
  docs/memory.rst
  gptme/cli/cmd_memory.py
  gptme/memory/policy.py
  gptme/memory/store.py
  gptme/tools/memory.py
  tests/test_memory_index_policy.py
Due: check-rst-formatting

fix(memory): refuse save of malformed existing entries to prevent silent data loss
  gptme/memory/store.py
  tests/test_memory_index_policy.py
Due: none

fix(memory): use lenient read for existing entries on save
  gptme/memory/store.py
  tests/test_memory_index_policy.py
Due: none

fix(memory): fall back to unlocked read on read-only roots in render/check
  gptme/memory/store.py
  tests/test_memory_index_policy.py
Due: none

fix(openrouter): apply privacy policy for gptme-provider OpenRouter-backed models
  gptme/llm/llm_openai.py
Due: none

fix(memory): address AI review findings in index policy
  gptme/memory/policy.py
  gptme/memory/store.py
  tests/test_memory_index_policy.py
Due: none

fix(memory): correct POLICY_MIN_BUDGET from 22 to 20
  gptme/memory/policy.py
  tests/test_memory_index_policy.py
Due: none

feat(skills): export lifecycle metrics and measured cost windows
  docs/skills.rst
  gptme/lessons/skill_events.py
  gptme/telemetry.py
  gptme/util/_telemetry.py
  gptme/util/cost_tracker.py
  tests/test_skill_events.py
  tests/test_skill_metrics.py
Due: check-rst-formatting

docs: document first contribution workflow
  docs/contributing.rst
Due: check-rst-formatting

fix(webui): persist demo conversations to sessionStorage to survive reload
  webui/src/utils/__tests__/demoApiClient.test.ts
  webui/src/utils/demoApiClient.ts
Due: none

fix(webui): persist recovered demo conversations
  webui/src/utils/__tests__/demoApiClient.test.ts
  webui/src/utils/demoApiClient.ts
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
