Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(cli): print fatal KeyError messages without repr quotes
  gptme/cli/main.py
  tests/test_cli.py
Due: none

docs(contributing): fix stale telemetry env vars and metrics path (#4072)
  docs/contributing.rst
  scripts/prometheus.yml
Due: check-rst-formatting

fix(ci): make docs linkcheck finish reliably and fix dead links found
  .github/workflows/docs.yml
  docs/acp.rst
  docs/conf.py
  docs/custom_tool.rst
  docs/howto/tts-setup.md
  docs/tools.rst
Due: check-rst-formatting, check-markdown-endings

fix(docs): ignore mcp.so and reddit in linkcheck (403 to CI runners)
  docs/conf.py
Due: none

fix(context): honor empty project scout_model; resolve workspace from manager
  gptme/context/scout.py
  tests/test_context_scout.py
Due: none

feat(llm): add client-side degeneration guard for OpenRouter streams
  gptme/llm/llm_openai.py
  gptme/message.py
  tests/test_llm_openai.py
Due: none

fix(test): request _backoff_delays in retry tests that call backoff_wait
  tests/test_llm_openai_subscription.py
Due: none

fix(llm): harden degeneration guard addressing review findings
  gptme/llm/llm_openai.py
  gptme/message.py
  tests/test_llm_openai.py
Due: none

fix(llm): non-appending degeneration retry, score only non-code text
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

fix(llm): fail degenerate partial streams
  gptme/chat.py
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  tests/test_chat.py
  tests/test_llm_openai.py
Due: none

fix(compaction): trigger from anchored provider input usage (#4036)
  docs/context-compression.rst
  gptme/chat.py
  gptme/message.py
  gptme/server/session_step.py
  gptme/tools/autocompact/decision.py
  gptme/util/context_measurement.py
  tests/test_compaction_measurement.py
  tests/test_server_v2.py
Due: check-rst-formatting

fix(docs): render --cors-origin example as literal and seed theme mode (#4045)
  docs/conf.py
  gptme/server/cli.py
Due: none

fix(server): gate internal error details behind debug setting (#4076)
  gptme/server/api_v2_common.py
  gptme/server/artifacts_api.py
  gptme/server/panels_api.py
  gptme/server/tools_api.py
  gptme/server/workspace_api.py
  tests/test_server_api_v2_common.py
  tests/test_server_tools_query.py
Due: none

fix(grok-subscription): bump client version header to 1.0.13 (#4063)
  gptme/llm/llm_grok_subscription.py
  tests/test_llm_grok_subscription.py
Due: none

chore(deps): apply non-breaking npm audit fixes and configure npm/cargo Dependabot (#4090)
  .github/dependabot.yml
  .github/workflows/webui.yml
  tauri/e2e/package-lock.json
  webui/package-lock.json
Due: none

fix(watch): quote-aware do/then split, exact filler match, int duration, pipe detection
  gptme/tools/watch.py
Due: none

fix(cli): print fatal KeyError messages without repr quotes (#4101)
  gptme/cli/main.py
  tests/test_cli.py
Due: none

fix(formatting): apply ruff format to llm_openai.py
  gptme/llm/llm_openai.py
Due: none

docs: refresh model recommendations, data policy, and gptme-tts setup
  docs/howto/tts-setup.md
  docs/models.rst
  docs/providers-supported.rst
Due: check-rst-formatting, check-markdown-endings

docs: clarify CORS caveat placement, model default mismatch, and metadata fallback
  docs/howto/tts-setup.md
  docs/models.rst
Due: check-rst-formatting, check-markdown-endings

fix(python): cap unbounded stdout and result output
  gptme/tools/python.py
  tests/test_tools_python.py
Due: none

fix(python): address Greptile P1s — bytes not chars, uncapped stderr/sandbox, TeeIO buffer limit
  gptme/tools/python.py
  tests/test_tools_python.py
Due: none

fix(python): add truncation marker when TeeIO silently drops output
  gptme/tools/python.py
  tests/test_tools_python.py
Due: none

ci: coalesce queued master-push runs, except Test
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/security-advisories.yml
  .github/workflows/tauri.yml
  .github/workflows/webui.yml
Due: none

fix(release): treat cancelled checks as incomplete — skip release
  .github/workflows/release.yml
Due: none

fix(tools): preserve CRLF line endings in patch and morph
  gptme/tools/base.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  tests/test_tools_morph.py
  tests/test_tools_patch.py
Due: none

fix(tools): guard CRLF→LF normalize behind newline==CRLF check
  gptme/tools/morph.py
  gptme/tools/patch.py
Due: none

fix(tools): normalize CRLF unconditionally before write to prevent mixed endings
  gptme/tools/morph.py
  gptme/tools/patch.py
  tests/test_tools_morph.py
  tests/test_tools_patch.py
Due: none

feat(server): structured GET/PUT /api/v2/user/config/mcp for global MCP config
  gptme/server/api_v2.py
  gptme/server/openapi_docs.py
  tests/test_server_v2.py
Due: none

fix(server): address Greptile P1/P2 findings on MCP config endpoint
  gptme/server/api_v2.py
Due: none

fix(server): extend config write lock to all writers; guard mcp scalar
  gptme/server/api_v2.py
Due: none

docs: refresh model recommendations, data policy, and gptme-tts setup (#4114)
  docs/howto/tts-setup.md
  docs/models.rst
  docs/providers-supported.rst
Due: check-rst-formatting, check-markdown-endings

fix(context): read scout_model from project/user config (#4086)
  gptme/context/scout.py
  tests/test_context_scout.py
Due: none

docs: make provider host advice policy-first
  docs/providers-supported.rst
Due: check-rst-formatting

docs: make provider host advice policy-first (#4130)
  docs/providers-supported.rst
Due: check-rst-formatting

fix(server): address Greptile review — PNG, text/plain schema, 500 response
  gptme/server/api_v2.py
  gptme/server/computer_api.py
  gptme/server/openapi_docs.py
Due: none

refactor(llm): extract degeneration guard to gptme/llm/_degeneration.py
  gptme/llm/_degeneration.py
  gptme/llm/llm_openai.py
  tests/test_chat.py
Due: none

fix(cli): only echo shell-inert names in skills show search hint
  gptme/cli/cmd_skills.py
  tests/test_util_cli_skills.py
Due: none

fix(changelog): link commits by full SHA, tagged tip by tag
  scripts/build_changelog.py
  tests/test_build_changelog.py
Due: none
