Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

fix(compression): use gptme binary instead of python -m gptme.cli
  tests/compression/evaluation.py
Due: none

fix(context-compression): pass workspace parameter to _run_gptme
  tests/compression/evaluation.py
Due: none

docs(context_compression): add configuration guide for adaptive compression
  docs/configuration-adaptive-compression.md
Due: check-markdown-endings

feat(context_compression): Week 6 Day 2 Priority 1-3 fixes - 73.3% validation success
  gptme/context_compression/analyzer/scorer.py
  gptme/context_compression/analyzer/task_analyzer.py
Due: none

test(compression): add validation test script for Phase 3.1 Week 5
  test_analyzer_simple.py
Due: none

feat(context_compression): add Phase 3.1 Week 5 complete validation suite
  test_all_15_cases.py
Due: none

feat(context_compression): Week 6 Day 2 complete - 93.3% validation (14/15 target hit)
  gptme/context_compression/analyzer/scorer.py
  gptme/context_compression/analyzer/task_analyzer.py
Due: none

feat(context-compression): Phase 2 Day 3 - Build evaluation infrastructure
  tests/compression/README.md
  tests/compression/evaluation.py
Due: check-markdown-endings

test(compression): Phase 2 Day 8 results - compression IMPROVES performance
  tests/compression/results/baseline_results.json
  tests/compression/results/comparison_report_0.15.md
  tests/compression/results/compressed_results_0.15.json
Due: check-markdown-endings

fix(evaluation): update to use tomli/tomli_w and .venv python
  poetry.lock
  pyproject.toml
  tests/compression/evaluation.py
Due: none

fix(compression): wrap test inputs with completion instructions
  tests/compression/evaluation.py
Due: none

feat(context_compression): refactor to hooks-based architecture
  gptme/config.py
  gptme/hooks/__init__.py
  gptme/hooks/context.py
  gptme/prompts.py
Due: none

style: improve line readability in ContextVar declarations
  gptme/tools/__init__.py
  gptme/tools/lessons.py
  gptme/tools/time_awareness.py
  gptme/tools/token_awareness.py
  tests/test_tools_time_awareness.py
Due: none

feat(plugins): implement Phase 1 plugin infrastructure (#842)
  docs/plugins.md
  gptme/config.py
  gptme/plugins/__init__.py
  gptme/tools/__init__.py
  tests/test_plugins.py
Due: check-markdown-endings

fix(plugins): handle empty enabled list + remove stray text in docs
  docs/plugins.md
  gptme/tools/__init__.py
Due: check-markdown-endings

fix(server): set default model before SESSION_START hooks
  gptme/server/api_v2_sessions.py
Due: none

docs: add plugins.md to toctree to fix build warning
  docs/index.rst
Due: check-rst-formatting

fix(server): set default model before step thread starts
  gptme/server/api_v2_sessions.py
Due: none

docs(context-compression): complete Phase 3.1 Week 6 documentation
  docs/api-adaptive-compression.md
  docs/migration-adaptive-compression.md
  gptme/hooks/__init__.py
  tests/test_analyzer_performance.py
Due: check-markdown-endings

feat(plugins): implement Phase 2 hook integration
  docs/plugins.md
  gptme/hooks/__init__.py
  gptme/plugins/__init__.py
  tests/test_plugins.py
Due: check-markdown-endings

style(plugins): convert empty enabled list to None for consistency
  gptme/hooks/__init__.py
Due: none

feat(plugins): implement Phase 3 command integration
  docs/plugins.md
  gptme/commands.py
  gptme/init.py
  gptme/plugins/__init__.py
  tests/test_plugins.py
Due: check-markdown-endings

fix: fix broken favicon in the root path
  site/template.html
Due: none

docs: move context_selector documentation to docs/ directory
  docs/context_selector/API_GUIDE.md
  docs/context_selector/CONFIGURATION_GUIDE.md
  docs/context_selector/MIGRATION_GUIDE.md
  docs/context_selector/README.md
Due: check-markdown-endings

fix(gepa): remove auto parameter conflict in MIPROv2 (#835)
  gptme/eval/dspy/prompt_optimizer.py
Due: none

feat(gepa): implement Phase 1 test set expansion (12 new tasks) (#832)
  gptme/eval/dspy/tasks.py
Due: none

feat(gepa): Phase 2 test set expansion - 7 more tasks (#833)
  gptme/eval/dspy/tasks.py
Due: none

feat: auto-enable complete tool in non-interactive mode and support multiple -t flags (#836)
  gptme/cli.py
  gptme/config.py
  gptme/tools/complete.py
Due: none

feat(plugins): implement Phase 2 hook integration (#845)
  docs/plugins.md
  gptme/hooks/__init__.py
  gptme/plugins/__init__.py
  tests/test_plugins.py
Due: check-markdown-endings

refactor: extract cwd tracking to hook and refactor time/token awareness to clean hooks (#839)
  gptme/hooks/__init__.py
  gptme/hooks/cwd_tracking.py
  gptme/hooks/time_awareness.py
  gptme/hooks/token_awareness.py
  gptme/tools/shell.py
  tests/test_tools_time_awareness.py
  tests/test_tools_token_awareness.py
Due: none

fix(gepa): Phase 3.3 - Fix task source and auto parameter conflicts (#837)
  gptme/eval/dspy/experiments.py
Due: none

fix(security): block command injection via pipe-to-shell patterns (#840)
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

feat(plugins): implement Phase 1 plugin infrastructure (#843)
  docs/index.rst
  docs/plugins.md
  gptme/config.py
  gptme/plugins/__init__.py
  gptme/server/api_v2_sessions.py
  gptme/tools/__init__.py
  tests/test_plugins.py
Due: check-rst-formatting, check-markdown-endings

feat(server): add API v2 client for programmatic interaction (#841)
  gptme/server/client.py
  tests/test_server_client.py
  tests/test_tools_shell.py
Due: none

feat: convert default model and hook registry to ContextVar for thread safety
  gptme/hooks/__init__.py
  gptme/hooks/test.py
  gptme/llm/models.py
  gptme/server/api_v2_sessions.py
  tests/test_server_v2_hooks.py
Due: none

fix: add thread-safe initialization lock to init_hooks()
  gptme/hooks/__init__.py
Due: none

fix: remove xfail markers from previously flaky server tests
  tests/test_server_v2_auto_stepping.py
  tests/test_server_v2_tool_confirmation.py
Due: none

feat(context): implement Phase 1 - core context selector infrastructure
  gptme/context_selector/__init__.py
  gptme/context_selector/base.py
  gptme/context_selector/config.py
  gptme/context_selector/hybrid.py
  gptme/context_selector/llm_based.py
  gptme/context_selector/rule_based.py
  poetry.lock
  pyproject.toml
  tests/test_context_selector.py
Due: none

docs(context): add comprehensive Phase 4 documentation
  gptme/context_selector/API_GUIDE.md
  gptme/context_selector/CONFIGURATION_GUIDE.md
  gptme/context_selector/MIGRATION_GUIDE.md
  gptme/context_selector/README.md
Due: check-markdown-endings

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
