Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

docs(readme): refresh demos with current screenshots and better asciinema thumbnails
  README.md
  docs/demos.rst
  media/demos/fibonacci-606375.png
  media/demos/mandelbrot-621991.png
  media/screenshots/tui.png
  media/screenshots/webui.png
Due: check-rst-formatting, check-markdown-endings

docs(timeline): embed star chart from gptme/stats
  docs/timeline.rst
Due: check-rst-formatting

docs(readme): replace broken starchart.cc chart with gptme/stats
  README.md
Due: check-markdown-endings

docs: add README News rows for 2026-02/05; fix changelog flow note
  README.md
  docs/timeline.rst
Due: check-rst-formatting, check-markdown-endings

feat(site): prototype of new gptme.org site (design v3)
  .github/workflows/site-next.yml
  Makefile
  site/next/.gitignore
  site/next/README.md
  site/next/index.html
  site/next/package-lock.json
  site/next/package.json
  site/next/postcss.config.js
  site/next/public/su-logo.png
  site/next/scripts/copy-assets.mjs
  site/next/scripts/prerender.mjs
  site/next/src/client.ts
  site/next/src/components/Layout.tsx
  site/next/src/components/icons.tsx
  site/next/src/entry-server.tsx
  site/next/src/lib/cn.ts
  site/next/src/lib/links.ts
  site/next/src/lib/readme.ts
  site/next/src/lib/stats.ts
  site/next/src/routes/Home.tsx
  site/next/src/routes/Readme.tsx
  site/next/src/styles/index.css
  site/next/src/styles/tokens.css
  site/next/tailwind.config.ts
  site/next/tailwind.preset.ts
  site/next/tsconfig.json
  site/next/vite.config.ts
Due: check-markdown-endings

docs: fix preview section heading underlines
  docs/config.rst
  docs/server.rst
Due: check-rst-formatting

fix(webui): guard console-proxy injection against cross-origin iframes
  webui/src/components/BrowserPreview.tsx
Due: none

fix(webui): guard undefined values before toLowerCase calls
  webui/src/components/ChatMessage.tsx
  webui/src/utils/__tests__/highlightUtils.test.ts
  webui/src/utils/__tests__/markdownUtils.test.ts
  webui/src/utils/__tests__/workspaceUtils.test.ts
  webui/src/utils/highlightUtils.ts
  webui/src/utils/markdownUtils.ts
  webui/src/utils/workspaceUtils.ts
Due: none

docs(memory): reframe triggered matching as agent-oriented guidance
  docs/memory.rst
  gptme/cli/cmd_memory.py
Due: check-rst-formatting

fix(webui): only swallow SecurityError on console-proxy inject
  webui/src/components/BrowserPreview.tsx
  webui/src/utils/__tests__/consoleProxy.test.ts
  webui/src/utils/consoleProxy.ts
Due: none

fix(site): sanitize README HTML and pin preview actions
  .github/workflows/site-next.yml
  site/next/README.md
  site/next/package-lock.json
  site/next/package.json
  site/next/src/client.ts
  site/next/src/lib/readme.test.ts
  site/next/src/lib/readme.ts
  site/next/tsconfig.json
Due: check-markdown-endings

fix(cli): emit clean error on dataset export -o write failure
  gptme/cli/cmd_dataset.py
  tests/test_dataset.py
Due: none

test(webui): cover ChatMessage undefined toLowerCase guards
  webui/src/components/ChatMessage.tsx
  webui/src/components/__tests__/ChatMessage.test.tsx
Due: none

fix(site): deploy preview via SHA-pinned wrangler-action
  .github/workflows/site-next.yml
Due: none

fix(cli): catch OSError on dataset export write loop
  gptme/cli/cmd_dataset.py
  tests/test_dataset.py
Due: none

fix(site): sanitize README HTML at the injection sink
  .github/workflows/site-next.yml
  site/next/src/lib/readme-sanitize.ts
  site/next/src/lib/readme.test.ts
  site/next/src/lib/readme.ts
  site/next/src/routes/Readme.tsx
  site/next/tsconfig.json
Due: none

fix(cli): don't close stdout when dataset export mkdir fails
  gptme/cli/cmd_dataset.py
Due: none

fix(shell): deliver background completions before idle exit
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_shell_completion_loop.py
  tests/test_shell_completion_wait.py
Due: none

fix(cli): clean background jobs on SIGTERM
  gptme/cli/main.py
  tests/test_shell_sigterm.py
Due: none

test(cli): verify background completion through noninteractive entrypoint
  tests/test_shell_completion_loop.py
Due: none

fix(shell): preserve terminal status when idle waits end subagents
  gptme/tools/shell_background.py
  tests/test_shell_completion_wait.py
Due: none

fix(shell): deliver queued steering while waiting for jobs
  gptme/tools/shell_background.py
  tests/test_shell_completion_wait.py
Due: none

test(cli): isolate batch clock from global time.monotonic
  tests/test_util_cli_batch.py
Due: none

fix(shell): retain idle prompts beyond queue capacity
  gptme/prompt_queue.py
  gptme/tools/shell_background.py
  tests/test_shell_completion_wait.py
Due: none

fix(shell): yield control-file wait interruption only once
  gptme/tools/shell_background.py
  tests/test_shell_completion_loop.py
  tests/test_shell_completion_wait.py
Due: none

fix(shell): don't abort idle wait on a claimed sibling completion
  gptme/tools/shell_background.py
  tests/test_shell_completion_wait.py
Due: none

fix(shell): restore cwd/env after a shell death and tell the model
  gptme/tools/shell.py
  tests/test_shell_restart.py
  tests/test_tools_shell.py
Due: none

fix(shell): do not retry a command after a partial pipe write
  gptme/tools/shell.py
  tests/test_shell_restart.py
Due: none

fix(shell): detect workspace hint from the persistent shell cwd
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

fix(shell): do not crash workspace hint when cwd lookup fails
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

fix(eval): keep token counts on timeout instead of zeroing them
  gptme/eval/run.py
  tests/test_eval.py
Due: none

fix(eval): do not let SIGTERM clobber a completed success
  gptme/eval/run.py
  tests/test_eval.py
Due: none

fix(eval): ignore SIGTERM while writing timeout result
  gptme/eval/run.py
  tests/test_eval.py
Due: none

fix(eval): ignore SIGTERM before error-handler cleanup
  gptme/eval/run.py
  tests/test_eval.py
Due: none

feat(site): lead with agents, ecosystem, self-hosting and the managed service
  site/next/src/lib/links.ts
  site/next/src/routes/Home.tsx
Due: none

feat(site): concrete capabilities, provider independence, and deep docs links
  site/next/src/components/Layout.tsx
  site/next/src/lib/links.ts
  site/next/src/routes/Home.tsx
Due: none

fix(site): keep the slash in the preview branch so the alias URL stays stable
  .github/workflows/site-next.yml
Due: none

fix(logmanager): handle same-process Windows locks
  .github/workflows/test.yml
  gptme/logmanager/manager.py
  tests/test_logmanager_locking.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
