Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(shell): preserve UTF-8 sequences across persistent pipe reads (#4073)
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

docs(tools): fix convert invocation example, patch_many/memory claims
  docs/tools/convert.rst
  docs/tools/memory.rst
  docs/tools/patch-many.rst
Due: check-rst-formatting

fix(test): remove autouse fixture to prevent test interaction
  tests/test_llm_openai_subscription.py
Due: none

fix(cli): reject unknown options before prompt text (#4051)
  gptme/cli/cmd_resume.py
  gptme/cli/main.py
  tests/test_search_alias.py
Due: none

fix(test): pin subprocess to local checkout via PYTHONPATH
  tests/test_import_boundaries.py
Due: none

fix(cli): single-quote skills show hint when the name has shell expansion syntax
  gptme/cli/cmd_skills.py
  tests/test_util_cli_skills.py
Due: none

test(cli): assert non-interactive history test completes successfully
  tests/test_cli.py
Due: none

test(telemetry): verify gptme_llm_cost_usd export with a real meter; document it
  docs/contributing.rst
  tests/test_telemetry.py
Due: check-rst-formatting

fix(server): correct OpenAPI response shapes for new routes (config PATCH, deploy, computer, raw bodies)
  gptme/server/api_v2.py
  gptme/server/computer_api.py
  gptme/server/metrics.py
  gptme/server/openapi_docs.py
  gptme/server/tts_api.py
Due: none

fix(server): resolve tool presets/globs/hints in --tools allowlist check
  gptme/server/api_v2_common.py
  tests/test_server_tools_allowlist.py
Due: none

fix(scripts): point the Prometheus scrape at gptme-server's /api/v0/metrics
  scripts/prometheus.yml
Due: none

fix(server): resolve requested tool patterns to concrete names
  gptme/server/api_v2.py
  gptme/server/api_v2_common.py
  tests/test_server_tools_allowlist.py
Due: none

fix(site): distinguish universal vs arch-specific APKs in downloads page
  site/downloads.html
Due: none

fix(ci): decouple docs linkcheck from deploy, stop masking issue-link typos
  .github/workflows/docs.yml
  docs/conf.py
Due: none

test(telemetry): guard real-meter test against missing trace exporter
  tests/test_telemetry.py
Due: none

fix(webui): don't overwrite an independent server's token on manual connect
  webui/src/contexts/ApiContext.tsx
  webui/src/contexts/__tests__/ApiContext.test.tsx
Due: none

fix(webui): scope preview sign-in notice to bearer-auth connections and the instance base path
  webui/src/components/PanelsPanel.tsx
  webui/src/components/SandboxedIframePanel.tsx
  webui/src/components/__tests__/SandboxedIframePanel.test.tsx
  webui/src/utils/__tests__/iframePanelPolicy.test.ts
  webui/src/utils/iframePanelPolicy.ts
Due: none

test(webui): mock the tasks query in Skills page tests
  webui/src/pages/__tests__/Skills.test.tsx
Due: none

docs: surface gptodo and gptmail from gptme-contrib for agent workflows
  docs/agents.rst
  docs/agents/autonomous.rst
  docs/agents/workspace.rst
  docs/channels/agent-messaging.rst
  docs/channels/email.rst
  docs/features.rst
Due: check-rst-formatting

fix(watch): address Greptile P1/P2 findings in sleep-poll guard
  gptme/tools/watch.py
Due: none

docs: surface gptodo and gptmail from gptme-contrib for agent workflows (#4098)
  docs/agents.rst
  docs/agents/autonomous.rst
  docs/agents/workspace.rst
  docs/channels/agent-messaging.rst
  docs/channels/email.rst
  docs/features.rst
Due: check-rst-formatting

fix(webui): don't inject sidecar token when connect() targets a remote URL
  webui/src/contexts/ApiContext.tsx
  webui/src/contexts/__tests__/ApiContext.test.tsx
Due: none

feat(providers): add Y-API as an OpenAI-compatible provider
  .env.example
  docs/providers-supported.rst
  docs/providers.rst
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  gptme/llm/models/data.py
  gptme/llm/models/types.py
  gptme/llm/validate.py
Due: check-rst-formatting

fix(deps): update vulnerable Poetry dependencies and unblock Dependabot (#4068)
  poetry.lock
  pyproject.toml
Due: none

fix(webui): show sign-in notice instead of a 401 iframe for remote instance previews (#4093)
  webui/src/components/PanelsPanel.tsx
  webui/src/components/SandboxedIframePanel.tsx
  webui/src/components/__tests__/SandboxedIframePanel.test.tsx
  webui/src/utils/__tests__/iframePanelPolicy.test.ts
  webui/src/utils/iframePanelPolicy.ts
Due: none

fix(webui): shared nav items and 5-slot mobile bottom nav with More sheet (#4059)
  webui/src/components/MobileBottomNav.tsx
  webui/src/components/SidebarIcons.tsx
  webui/src/components/navItems.ts
  webui/src/pages/Skills.tsx
  webui/src/pages/__tests__/Skills.test.tsx
Due: none

fix(llm): serialize tools for all OpenAI-compatible providers (#4047)
  gptme/llm/llm_openai.py
  gptme/llm/models/__init__.py
  tests/test_llm_openai.py
Due: none

docs(contributing): add --host 0.0.0.0 flag for Prometheus Docker setup
  docs/contributing.rst
Due: check-rst-formatting

docs(tools): add reference pages for memory, patch_many, convert (+ opt-in watch, progress, clarify) (#4091)
  docs/conf.py
  docs/tools.rst
  docs/tools/clarify.rst
  docs/tools/convert.rst
  docs/tools/memory.rst
  docs/tools/patch-many.rst
  docs/tools/progress.rst
  docs/tools/watch.rst
  gptme/tools/convert.py
  gptme/tools/progress.py
Due: check-rst-formatting

fix(cli): drop non-interactive stderr noise (#4060)
  gptme/cli/main.py
  gptme/util/auto_naming.py
  tests/test_cli.py
Due: none

fix(cli): gptme-auth login tolerates transient network errors (#4077)
  gptme/cli/auth.py
  tests/test_cli_auth.py
Due: none

fix(site): hide .sig files on downloads page and list Android APK (#4055)
  site/downloads.html
Due: none

fix(telemetry): move LLM token counts and cost out of metric labels (#4053)
  docs/contributing.rst
  gptme/telemetry.py
  gptme/util/_telemetry.py
  tests/test_telemetry.py
Due: check-rst-formatting

fix(llm): record streamed OpenAI-compat usage once per response (#4044)
  gptme/llm/llm_openai.py
  tests/test_llm_openai_sampling.py
Due: none

perf(startup): keep prompt_toolkit out of gptme.message, requests out of gptme.commands (#4088)
  gptme/commands/account.py
  gptme/message.py
  gptme/util/prompt.py
  gptme/util/rich_text.py
  tests/test_commands_account.py
  tests/test_import_boundaries.py
Due: none

fix(llm): keep tool calls and content in non-stream OpenAI chat() regardless of finish_reason (#4079)
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

fix(llm): retry Anthropic connection/timeout errors and 408/409 in both providers
  gptme/eval/dspy/README.md
  gptme/lessons/skills/python-repl/SKILL.md
  gptme/llm/llm_anthropic.py
  gptme/llm/llm_openai.py
  tests/test_llm_anthropic.py
  tests/test_llm_openai.py
Due: check-markdown-endings

test(anthropic): cover streaming timeout retry before/after first yield
  tests/test_llm_anthropic.py
Due: none

docs(scripts): cite cli.py source for gptme-server port 5700 in prometheus.yml
  scripts/prometheus.yml
Due: none
