Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

test(webui): add virtualization regression tests for #3379
  webui/e2e/performance.spec.ts
  webui/src/components/__tests__/ConversationContent.test.tsx
  webui/src/democonversations.ts
Due: none

docs: add task-to-workflow onboarding guide
  docs/getting-started.rst
  docs/howto/choose-workflow.md
  docs/howto/index.md
Due: check-rst-formatting, check-markdown-endings

test(webui): target virtualization scroll viewport
  webui/e2e/performance.spec.ts
  webui/src/components/ConversationContent.tsx
Due: none

docs: clarify browser tool is not read-only in research workflow
  docs/howto/choose-workflow.md
Due: check-markdown-endings

docs(automation): add review-gated autonomous workflow section
  docs/automation.rst
Due: check-rst-formatting

docs(automation): tighten review-gated safety boundary
  docs/automation.rst
  docs/howto/choose-workflow.md
Due: check-rst-formatting, check-markdown-endings

feat(review-gate): add delivery target enforcement and tests
  gptme/review_gate.py
  tests/test_review_gate.py
Due: none

fix(review-gate): enforce fail-closed shell delivery
  docs/automation.rst
  gptme/cli/main.py
  gptme/review_gate.py
  gptme/tools/shell.py
  tests/test_cli.py
  tests/test_review_gate.py
Due: check-rst-formatting

fix(review-gate): block background and dynamic delivery
  gptme/review_gate.py
  gptme/tools/shell.py
  tests/test_review_gate.py
Due: none

fix(review-gate): block variable-expanded git command bypass
  gptme/review_gate.py
  tests/test_review_gate.py
Due: none

fix(review-gate): fail closed on ambiguous default refs
  gptme/review_gate.py
  tests/test_review_gate.py
Due: none

feat(review-gate): add review-gated profile with enforced delivery boundary
  gptme/cli/main.py
  gptme/cli/util.py
  gptme/profiles.py
  gptme/tools/shell.py
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

feat(review-gate): add enforcement module and tests for review-gated delivery
  gptme/review_gate.py
  tests/test_review_gate.py
Due: none

fix(design): a few minor design trims/fixes, including hiding chat message avatar icons on small screens
  webui/src/components/ChatInput.tsx
  webui/src/components/ChatMessage.tsx
  webui/src/components/ConversationContent.tsx
  webui/src/components/MessageAvatar.tsx
  webui/src/components/WelcomeView.tsx
Due: none

feat(cost): add inline per-message cost display via GPTME_SHOW_COST=1
  gptme/chat.py
  gptme/util/cost_display.py
  tests/test_cost_display.py
Due: none

fix(cost): strict env gate and partial-metadata fallback
  gptme/util/cost_display.py
  tests/test_cost_display.py
Due: none

fix(cost): render inline costs in Textual TUI
  gptme/tui/app.py
  gptme/util/cost_display.py
  tests/test_cost_display.py
  tests/test_tui.py
Due: none

fix(cost): preserve explicit zero usage metadata
  gptme/util/cost_display.py
  tests/test_cost_display.py
Due: none

docs(readme): update desktop app from WIP to shipped with download link
  README.md
Due: check-markdown-endings

docs(usage): update desktop app from WIP to shipped with download link
  docs/usage.rst
Due: check-rst-formatting

docs(cookbook): add gptme cookbook with 5 canonical patterns
  docs/cookbook.rst
  docs/index.rst
Due: check-rst-formatting

docs(cookbook): correct runnable workflow examples
  docs/cookbook.rst
Due: check-rst-formatting

fix(config): use explicit UTF-8 encoding for all TOML config I/O
  gptme/config/chat.py
  gptme/config/project.py
  gptme/config/user.py
  tests/test_config_encoding.py
Due: none

fix(config): fall back to the platform encoding for legacy config files
  gptme/config/chat.py
  gptme/config/project.py
  gptme/config/user.py
  tests/test_config_encoding.py
Due: none

feat(cli): add global stats for CLI subcommand for usage & cost analytics
  gptme/cli/cmd_stats.py
  gptme/cli/util.py
  pyproject.toml
  tests/test_cli_stats.py
Due: none

fix(cli): prevent double-counting cache read tokens in total_tokens
  gptme/cli/cmd_stats.py
Due: none

fix(cli): attribute cost and tokens per-model in mixed-model sessions
  gptme/cli/cmd_stats.py
  gptme/logmanager/conversations.py
  tests/test_cli_stats.py
  tests/test_conversations.py
Due: none

fix(config): make the encoding tests locale-independent
  gptme/config/user.py
  tests/test_config_encoding.py
Due: none

fix(config): find the legacy codec even under Python UTF-8 mode
  gptme/config/user.py
  tests/test_config_encoding.py
Due: none

fix(server): acquire step_lock when checking generating flag in fork/edit/delete/config
  gptme/server/api_v2.py
Due: none

fix(server): serialize conversation mutations with generation
  gptme/server/api_v2.py
  gptme/server/api_v2_sessions.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  tests/conftest.py
  tests/test_server_session_models.py
  tests/test_server_v2_sessions.py
Due: none

fix(tests): apply stash-key guard to all retried teardowns, not just failed ones
  tests/conftest.py
Due: none

feat(hooks): CLODEx Phase 3a — approval gates for destructive operations
  gptme/cli/main.py
  gptme/hooks/approval.py
  gptme/hooks/manifest.py
  gptme/hooks/tests/test_approval.py
Due: none

fix(hooks/approval): address three Greptile P1 security findings
  gptme/hooks/approval.py
  gptme/hooks/manifest.py
  gptme/hooks/tests/test_approval.py
Due: none

fix(hooks/approval): address two more Greptile P1 security findings
  gptme/hooks/approval.py
  gptme/hooks/tests/test_approval.py
Due: none

fix(hooks/approval): harden classifier against common shell-escaping evasions
  gptme/hooks/approval.py
  gptme/hooks/tests/test_approval.py
Due: none

fix(hooks/approval): handle mid-word embedded quotes (r"m" → rm)
  gptme/hooks/approval.py
  gptme/hooks/tests/test_approval.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
