Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

fix(skills): preserve out-of-range $N placeholders instead of silently deleting them
  gptme/lessons/skill_commands.py
  tests/test_skill_commands.py
Due: none

feat(skills): invoke skills as slash commands (/skill:<name>)
  docs/skills.rst
  gptme/init.py
  gptme/lessons/__init__.py
  gptme/lessons/skill_commands.py
  tests/test_skill_commands.py
Due: check-rst-formatting

test(skills): verify tool-sentinel suppresses all bare aliases when get_tools fails
  tests/test_skill_commands.py
Due: none

fix(skills): undo after build, two-pass alias registration
  gptme/lessons/skill_commands.py
  tests/test_skill_commands.py
Due: none

2026-08-23 22-05 - Build Remote Agent pairing device
  docs/mcp.rst
Due: check-rst-formatting

2026-08-23 23-44 - AEO: checksum install + terminal roster (Build Remote Agent)
  docs/mcp.rst
Due: check-rst-formatting

fix(skills): do not let prefix-named skills clobber canonicals
  gptme/lessons/skill_commands.py
  tests/test_skill_commands.py
Due: none

fix(server): only install startup SIGTERM handler if no custom handler exists
  gptme/server/cli.py
  tests/test_server_startup.py
Due: none

fix(server): also guard _install_sigterm_handler against overriding custom handlers
  gptme/server/cli.py
Due: none

fix(server): do not override SIG_IGN when installing SIGTERM handlers
  gptme/server/cli.py
  tests/test_server_parent_death_watcher.py
  tests/test_server_startup.py
Due: none

fix(local_discovery): refuse 0.0.0.0 probes; don't crash on malformed ports
  gptme/llm/local_discovery.py
  tests/test_local_discovery.py
Due: none

fix(webui): stabilize multi-server query results
  webui/src/hooks/__tests__/useMultiServerConversations.test.tsx
  webui/src/hooks/useMultiServerConversations.ts
Due: none

ci: run pre-commit hooks in the lint workflow
  .github/workflows/lint.yml
  docs/releases/v0.32.1.md
  docs/releases/v0.33.0.md
  tests/test_conversations.py
  tests/test_git_worktree.py
Due: check-markdown-endings

feat(skills): drain skill-command prompts in server and TUI
  docs/skills.rst
  gptme/lessons/skill_commands.py
  gptme/server/api_v2.py
  gptme/tui/app.py
  tests/test_server.py
  tests/test_tui.py
Due: check-rst-formatting

docs: add curated skills gallery page to gptme.org
  docs/index.rst
  docs/skills-gallery.rst
  docs/skills.rst
Due: check-rst-formatting

docs: fix skills gallery install path
  docs/skills-gallery.rst
  docs/skills.rst
Due: check-rst-formatting

fix(webui): recover local-server bearer handshake after #3430
  gptme/server/cli.py
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/contexts/ApiContext.tsx
  webui/src/contexts/__tests__/ApiContext.test.tsx
  webui/src/stores/__tests__/servers.test.ts
  webui/src/stores/servers.ts
  webui/src/utils/__tests__/api.test.ts
  webui/src/utils/api.ts
Due: none

test(webui): add opt-in vision_assert wrapper for generation E2E
  webui/AGENTS.md
  webui/e2e/generation.spec.ts
  webui/e2e/helpers/visionAssert.test.ts
  webui/e2e/helpers/visionAssert.ts
  webui/e2e/helpers/visionAssertCore.ts
  webui/e2e/vision-assert-gap.spec.ts
  webui/jest.config.ts
  webui/playwright.config.ts
  webui/tsconfig.test.json
Due: check-markdown-endings

docs(webui): restore AGENTS.md nested-fence markdown
  webui/AGENTS.md
Due: check-markdown-endings

docs(plugins): fix hook names and add TOOL_CONFIRM guardrail example
  docs/plugins.rst
Due: check-rst-formatting

fix(webui): address Greptile P1s — probe errors, stale preset, IPv6 URL
  gptme/server/cli.py
  webui/src/stores/servers.ts
  webui/src/utils/api.ts
Due: none

docs(plugins): fix guardrail example to return None instead of confirm()
  docs/plugins.rst
Due: check-rst-formatting

fix(server): URL-encode token in launch URL fragment
  gptme/server/cli.py
Due: none

docs(plugins): fix guardrail rm regex to also match -fr flag order
  docs/plugins.rst
Due: check-rst-formatting

docs(plugins): fix guardrail regex to handle uppercase -Rf/-RF flag variants
  docs/plugins.rst
Due: check-rst-formatting

docs(plugins): bump guardrail priority to 200 (above server_confirm at 100)
  docs/plugins.rst
Due: check-rst-formatting

fix(webui/e2e): use bracket-depth to find JSON end in extractJsonObject
  webui/e2e/helpers/visionAssert.test.ts
  webui/e2e/helpers/visionAssertCore.ts
Due: none

docs(skills): clarify that skills --help shows full subcommand list
  docs/skills.rst
Due: check-rst-formatting

fix(subagent): increase _wait_for_cached_subagent_result timeout to 500ms
  gptme/tools/subagent/api.py
Due: none

test(subagent): de-flake test_subagent_wait_polls_cache_after_join_timeout
  tests/test_subagent_unit.py
Due: none

fix(lessons): use get_config_dir() in loader to honour XDG_CONFIG_HOME
  gptme/lessons/index.py
Due: none

fix(service-init): make the scaffolded agent actually run gptme
  README.md
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: check-markdown-endings

fix(service-init): check prompt readability and mkdir failure
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

fix(service-init): collision-resistant session IDs and prompt routing guard
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

fix(webui): clear compatibilityWarning on auth-probe failures; allow default-port loopback retargeting
  webui/src/stores/__tests__/servers.test.ts
  webui/src/stores/servers.ts
  webui/src/utils/api.ts
Due: none

docs(skills): fix symlink fallback to use XDG-aware get_config_dir() path
  docs/skills-gallery.rst
Due: check-rst-formatting

fix(service-init): stop the scaffolded agent from retrying forever
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

fix(webui/e2e): handle brace inside JSON string in extractJsonObject
  webui/e2e/helpers/visionAssert.test.ts
  webui/e2e/helpers/visionAssertCore.ts
Due: none

docs(skills): use gptme-util for local skill install instead of python3 -c
  docs/skills-gallery.rst
Due: check-rst-formatting

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
