Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

feat(compaction): recover once from provider context overflow
  gptme/chat.py
  gptme/llm/__init__.py
  gptme/tools/autocompact/__init__.py
  gptme/tools/autocompact/events.py
  gptme/tools/autocompact/handlers.py
  gptme/tools/autocompact/hook.py
  gptme/tools/autocompact/recovery.py
  tests/test_auto_compact.py
  tests/test_chat.py
  tests/test_llm_retry_policy.py
Due: none

feat(memory): trigger keyworded entries through the lesson matcher
  docs/memory.rst
  gptme/cli/cmd_memory.py
  gptme/memory/__init__.py
  gptme/memory/match.py
  gptme/memory/store.py
  tests/test_memory_match.py
Due: check-rst-formatting

fix(compaction): preserve streaming and active-view semantics
  gptme/chat.py
  gptme/llm/__init__.py
  tests/test_chat.py
  tests/test_llm_retry_policy.py
Due: none

fix(compaction): harden overflow recovery boundaries
  gptme/chat.py
  gptme/llm/__init__.py
  gptme/tools/autocompact/events.py
  tests/test_llm_retry_policy.py
Due: none

fix(shell): close current-head review findings
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_shell_background.py
  tests/test_tools_shell.py
Due: none

fix(memory): preserve unsupported hook event names
  gptme/cli/cmd_memory.py
  tests/test_memory_match.py
Due: none

fix(tools): address convergence findings
  gptme/tools/__init__.py
  gptme/tools/base.py
  tests/test_tool_conditionals.py
Due: none

fix(memory): ignore nested hook envelope fields
  gptme/cli/cmd_memory.py
  tests/test_memory_match.py
Due: none

fix(memory): preserve custom tool arguments
  gptme/cli/cmd_memory.py
  tests/test_memory_match.py
Due: none

fix(compaction): recover safe streaming overflows
  gptme/chat.py
  gptme/llm/__init__.py
  gptme/tools/autocompact/events.py
  tests/test_auto_compact.py
  tests/test_chat.py
  tests/test_llm_retry_policy.py
Due: none

fix(compaction): restore view when retry preparation fails
  gptme/chat.py
  tests/test_chat.py
Due: none

fix(memory): bound nested hook argument traversal
  gptme/cli/cmd_memory.py
  tests/test_memory_match.py
Due: none

fix(config): align CLI model precedence
  gptme/config/cli_setup.py
  gptme/config/core.py
  gptme/init.py
  tests/test_config.py
  tests/test_model_attestation.py
Due: none

fix(subagent): deliver subprocess control and capture stderr
  gptme/hooks/__init__.py
  gptme/tools/subagent/execution.py
  tests/test_subagent_unit.py
  tests/test_tools_subagent.py
Due: none

fix(subagent): bound stderr tail reads
  gptme/tools/subagent/execution.py
  tests/test_subagent_unit.py
Due: none

fix(subagent): cap stderr diagnostic reads
  gptme/tools/subagent/execution.py
  tests/test_subagent_unit.py
Due: none

fix(subagent): preserve explicit hook allowlists
  gptme/hooks/__init__.py
  gptme/tools/subagent/execution.py
  tests/test_hooks.py
  tests/test_tools_subagent.py
Due: none

fix(subagent): honor explicit hook restrictions
  gptme/hooks/__init__.py
  gptme/tools/subagent/execution.py
  tests/test_tools_subagent.py
Due: none

fix(subagent): preserve control under configured hooks
  gptme/hooks/__init__.py
  tests/test_hooks.py
  tests/test_tools_subagent.py
Due: none

fix(shell): invalidate cwd after terminated commands
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

feat(config): add runtime defaults and named prompt fragments
  docs/config.rst
  docs/server.rst
  gptme/config/models.py
  gptme/config/user.py
  gptme/message.py
  gptme/prompts/__init__.py
  gptme/server/api_v2.py
  tests/test_config.py
  tests/test_prompt_fragments.py
  tests/test_server_default_profile.py
  tests/test_server_panels.py
  tests/test_tools_python.py
  webui/src/components/settings/ConfigFileEditor.tsx
  webui/src/components/settings/__tests__/ConfigFileEditor.test.tsx
  webui/src/components/settings/__tests__/ServerApiKeySettings.test.tsx
  webui/src/components/settings/__tests__/ServerDefaultModelSettings.test.tsx
  webui/src/hooks/useUserSettings.ts
Due: check-rst-formatting

fix(codeblock): preserve prefix when stray </think> lands after complete fence pairs
  gptme/codeblock.py
  tests/test_codeblock.py
Due: none

fix(llm): use instructions_format["tool"] verbatim for tool-schema descriptions
  gptme/llm/llm_openai.py
  gptme/llm/openai_responses.py
  gptme/tools/hashline_edit.py
  tests/test_llm_openai.py
  tests/test_tools_hashline_edit.py
Due: none

fix(cli): emit clean error on status -o write failure, auto-mkdir parent
  gptme/cli/cmd_status.py
  tests/test_cli_status.py
Due: none

test(cli): distinguish status write errors from usage errors
  tests/test_cli_status.py
Due: none

fix(config): preserve defaults and refresh runtime prompt fragments
  docs/config.rst
  gptme/commands/llm.py
  gptme/config/user.py
  tests/test_commands_llm.py
  tests/test_config.py
  tests/test_prompt_fragments.py
Due: check-rst-formatting

docs: harden anchor forwarding and click asterisk escaping
  docs/cli.rst
  docs/conf.py
Due: check-rst-formatting

docs: split web UI out of server page; shorten CLI title
  docs/app.rst
  docs/cli.rst
  docs/cloud.rst
  docs/features.rst
  docs/getting-started.rst
  docs/index.rst
  docs/server.rst
  docs/usage.rst
  docs/webui.rst
Due: check-rst-formatting

docs: group server and web as Components, retitle Web
  docs/index.rst
  docs/webui.rst
Due: check-rst-formatting

docs: drop Components caption, list Server and Web last under Interfaces
  docs/index.rst
Due: check-rst-formatting

docs: drop the basic web UI section
  docs/webui.rst
Due: check-rst-formatting

docs: fold the webui section into the Web page intro
  docs/webui.rst
Due: check-rst-formatting

docs: stop pointing at the hosted web UI
  docs/server.rst
  docs/webui.rst
Due: check-rst-formatting

docs: drop remaining hosted web UI pointers
  docs/features.rst
  docs/projects.rst
  docs/server.rst
Due: check-rst-formatting

docs: describe the web UI's artifact, panel, and agent surfaces
  docs/webui.rst
Due: check-rst-formatting

docs: previews are a server capability, not cloud-only
  docs/webui.rst
Due: check-rst-formatting

docs: move computer-use container setup to the how-to
  docs/howto/computer-use.md
  docs/webui.rst
Due: check-rst-formatting, check-markdown-endings

docs: give the Web page sections, move host-header note to server security
  docs/server.rst
  docs/webui.rst
Due: check-rst-formatting

docs: nest the skills gallery under Skills
  docs/index.rst
  docs/skills.rst
  scripts/docs_structure.py
Due: check-rst-formatting
