Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(shell): restart promptly when persistent pipes close
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

fix(shell): claim completion notifications atomically
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

test(shell): remove duplicate stale background suite
  tests/test_tools_shell_background.py
Due: none

fix(shell): bind completions to job instances
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

fix(shell): avoid signalling completed background jobs
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

fix(shell): guard None narrowing before completion message
  gptme/tools/shell_background.py
Due: none

docs: note subprovider jurisdiction and model provenance risks
  docs/providers-supported.rst
  docs/security.rst
Due: check-rst-formatting

docs: describe secret hygiene as part of model competence
  docs/security.rst
Due: check-rst-formatting

docs: tidy nav titles, group CLI reference, fix review findings
  docs/cli.rst
  docs/cli/agents.rst
  docs/cli/evaluation.rst
  docs/cli/gptme-agent.rst
  docs/cli/gptme-auth.rst
  docs/cli/gptme-checkpoint.rst
  docs/cli/gptme-dataset.rst
  docs/cli/gptme-doctor.rst
  docs/cli/gptme-eval-swebench.rst
  docs/cli/gptme-eval-tbench.rst
  docs/cli/gptme-eval.rst
  docs/cli/gptme-init.rst
  docs/cli/gptme-onboard.rst
  docs/cli/gptme-resume.rst
  docs/cli/gptme-service.rst
  docs/cli/gptme-stats.rst
  docs/cli/gptme-status.rst
  docs/cli/gptme-tutorial.rst
  docs/cli/sessions.rst
  docs/cli/setup.rst
  docs/design/index.md
  docs/examples.rst
  docs/index.rst
  docs/models.rst
  docs/tools.rst
  scripts/check_rst_formatting.py
  scripts/docs_structure.py
  tests/test_docs_structure.py
Due: check-rst-formatting, check-markdown-endings

docs: forward old cli.html anchors to the new CLI reference pages
  docs/cli.rst
Due: check-rst-formatting

docs: add Cloud (gptme.ai) page under Interfaces
  docs/desktop.rst
  docs/index.rst
  docs/providers-supported.rst
  docs/server.rst
  docs/usage.rst
Due: check-rst-formatting

docs: merge desktop page into an App page covering Android; add missing cloud page
  docs/app.rst
  docs/cloud.rst
  docs/desktop.rst
  docs/index.rst
  docs/usage.rst
Due: check-rst-formatting

docs: add Channels section for GitHub, email, chat, and voice
  docs/agents.rst
  docs/channels.rst
  docs/channels/chat.rst
  docs/channels/email.rst
  docs/channels/voice.rst
  docs/features.rst
  docs/index.rst
  docs/usage.rst
Due: check-rst-formatting

docs: split email and agent messaging pages; title Cloud page plainly
  docs/channels.rst
  docs/channels/agent-messaging.rst
  docs/channels/email.rst
  docs/cloud.rst
  docs/index.rst
Due: check-rst-formatting

fix(tests): clear_tools before init_tools in vision conditional test
  tests/test_tool_conditionals.py
Due: none

fix(shell): strip shell operators from tokens before sensitive-path check (#3806)
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

fix(shell): validate relative paths from persistent cwd
  gptme/tools/shell.py
  gptme/tools/shell_validation.py
  gptme/util/ask_execute.py
  tests/test_shell_allowlist_autoconfirm.py
  tests/test_tools_shell_validation.py
Due: none

fix(shell): resolve symlinked validation cwd
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

fix(shell): keep real args visible after spaced `<< -` heredoc delimiter
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

fix(shell): ignore heredoc data in sensitive path checks
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

fix(shell): consume indented heredoc marker
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

fix(shell): preserve literal operator characters in paths
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

fix(shell): ignore escaped heredoc openers
  gptme/tools/shell_validation.py
  tests/test_tools_shell_validation.py
Due: none

test(memory): assert legacy reads stay bounded
  tests/test_workspace_memory_policy.py
Due: none

fix(shell): refresh cwd after compound commands
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

fix(shell): harden cwd marker parsing
  gptme/tools/shell.py
Due: none

fix(shell): derive validation cwd from physical directory
  tests/test_tools_shell.py
Due: none

fix(shell): round-trip cwd marker bytes
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

test(shell): cover cwd validation invariants
  tests/test_tools_shell.py
  tests/test_tools_shell_validation.py
Due: none

test(shell): restore cwd after tracking regression
  tests/test_tools_shell.py
Due: none

fix(shell): make cwd encoding portable
  tests/test_tools_shell.py
Due: none

fix(shell): prevent cwd marker spoofing
  gptme/tools/shell.py
  tests/test_tools_shell.py
Due: none

style(shell): format rebased cwd marker
  gptme/tools/shell.py
Due: none

test(shell): tolerate loaded runners in byte-cap test
  tests/test_shell_max_output_bytes.py
Due: none

fix(tools): make companion loading fail atomically
  gptme/tools/__init__.py
  tests/test_tool_conditionals.py
Due: none

fix(tools): preserve indented conditional markers
  gptme/tools/__init__.py
  gptme/tools/base.py
  tests/test_tool_conditionals.py
Due: none

fix(shell): restore dropped post-rebase race fixes
  gptme/tools/shell.py
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none

fix(shell): close final completion review findings
  gptme/tools/shell_background.py
  tests/test_shell_background.py
Due: none
