Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

fix(snapshot): prune() now keeps newest snapshots instead of oldest
  gptme/workspace_snapshot.py
  tests/test_workspace_snapshot.py
Due: none

style(snapshot): annotate unreachable yield stubs with noqa comment
  gptme/hooks/auto_snapshots.py
Due: none

fix(snapshot): abort restore when safety snapshot fails; fix nested .git exclude
  gptme/workspace_snapshot.py
  tests/test_workspace_snapshot.py
Due: none

fix(snapshot): remove leading slash from all exclude rules so nested dirs are excluded at any depth
  gptme/workspace_snapshot.py
Due: none

docs(readme): fix truncated initial-commit SHA link (#2376)
  README.md
Due: check-markdown-endings

fix(snapshot): exclude read-only sub-commands from build-tool mutability classifier
  gptme/hooks/auto_snapshots.py
  tests/test_workspace_snapshot.py
Due: none

feat(computer): add pluggable transport abstraction layer (#2368)
  docs/conf.py
  gptme/tools/computer.py
  gptme/tools/computer_transport.py
  pyproject.toml
  tests/test_computer_transport.py
Due: none

refactor(snapshot): move auto-snapshots from CLI flag to plugin architecture
  gptme/cli/main.py
  gptme/hooks/__init__.py
  gptme/hooks/auto_snapshots.py
  pyproject.toml
Due: none

feat: opt-in auto-snapshots for workspace rollback (Phase 2a) (#2377)
  gptme/hooks/auto_snapshots.py
  gptme/workspace_snapshot.py
  pyproject.toml
  tests/test_workspace_snapshot.py
Due: none

feat(hooks): add TTL-based cache coldness heuristic to cache_awareness
  gptme/hooks/cache_awareness.py
  tests/test_hooks_cache_awareness.py
Due: none

fix(cache_awareness): address Greptile P2 review findings
  gptme/hooks/cache_awareness.py
Due: none

feat(hooks): add TTL-based cache coldness heuristic to cache_awareness (#2378)
  gptme/hooks/cache_awareness.py
  tests/test_hooks_cache_awareness.py
Due: none

fix(tests): clear GPTME_DISABLE_PATH_INCLUDE in test_image_auto_attach_end_to_end
  tests/test_chat.py
Due: none

fix(tests): clear GPTME_DISABLE_PATH_INCLUDE in test_image_auto_attach_end_to_end (#2379)
  tests/test_chat.py
Due: none

test(webui): cover server settings onboarding action
  webui/src/components/__tests__/WelcomeView.test.tsx
Due: none

test(webui): cover server settings onboarding action (#2380)
  webui/src/components/__tests__/WelcomeView.test.tsx
Due: none

feat(cli): queue prompts for running chats
  gptme/chat.py
  gptme/cli/cmd_chats.py
  gptme/cli/main.py
  gptme/prompt_queue.py
  tests/test_chat.py
  tests/test_util_cli.py
Due: none

feat(profiles): add built-in verifier profile for subagent review/validation
  docs/agent/verifier-profile.md
  gptme/profiles.py
  gptme/tools/subagent/__init__.py
  gptme/tools/subagent/api.py
Due: check-markdown-endings

docs: add verifier-profile to agents toctree to fix docs build warning
  docs/agents.rst
Due: check-rst-formatting

docs: fix verifier tool list to match profile definition
  docs/agent/verifier-profile.md
  gptme/tools/subagent/__init__.py
Due: check-markdown-endings

feat(profiles): add built-in verifier profile for subagent review/validation
  docs/agent/verifier-profile.md
  docs/agents.rst
  gptme/profiles.py
  gptme/tools/subagent/__init__.py
  gptme/tools/subagent/api.py
Due: check-rst-formatting, check-markdown-endings

feat(subagent): add role= parameter for typed work posture
  gptme/tools/subagent/api.py
  gptme/tools/subagent/types.py
  tests/test_tools_subagent.py
Due: none

fix(subagent): role= now overrides agent_id auto-detection; explicit False opts out of verify defaults
  docs/agent/verifier-profile.md
  gptme/tools/subagent/api.py
  gptme/tools/subagent/types.py
  tests/test_tools_subagent.py
Due: check-markdown-endings

feat(subagent): planner subtask role passthrough
  gptme/tools/subagent/execution.py
  tests/test_tools_subagent.py
Due: none

docs(subagent): add role=verify usage example to verifier-profile doc
  docs/agent/verifier-profile.md
Due: check-markdown-endings

fix(subagent): use typing_extensions for NotRequired on Python <3.11
  gptme/tools/subagent/types.py
Due: none

fix(subagent): address remaining Greptile review findings
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/types.py
  tests/test_tools_subagent.py
Due: none

docs(subagent): fix RST indentation in subagent() docstring
  gptme/tools/subagent/api.py
Due: none

test(subagent): mock _create_subagent_thread in role passthrough test
  tests/test_tools_subagent.py
Due: none

docs(subagent): fix RST bullet continuation in subagent() docstring
  gptme/tools/subagent/api.py
Due: none

fix(test): wait for planner threads before @patch exits to prevent real _create_subagent_thread calls
  tests/test_tools_subagent.py
Due: none

fix(subagent): subtask role always overrides planner-level profile
  gptme/tools/subagent/execution.py
  tests/test_tools_subagent.py
Due: none

feat(subagent): add role= parameter for typed work posture (#2382)
  docs/agent/verifier-profile.md
  gptme/tools/subagent/api.py
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/types.py
  tests/test_tools_subagent.py
Due: check-markdown-endings

feat(hooks): add tool-targeted agent instruction loading (Phase 1)
  gptme/hooks/__init__.py
  gptme/hooks/tests/test_tool_target_instructions.py
  gptme/hooks/tool_target_instructions.py
Due: none

feat(hooks): tool-target agent-instruction loading (Phase 1)
  gptme/hooks/__init__.py
  gptme/hooks/tests/test_tool_target_instructions.py
  gptme/hooks/tool_target_instructions.py
Due: none

fix(hooks): fix two server-mode dedup bugs in tool_target_instructions
  gptme/hooks/agents_md_inject.py
  gptme/hooks/tests/test_tool_target_instructions.py
  gptme/hooks/tool_target_instructions.py
Due: none

feat(hooks): tool-target agent-instruction loading (Phase 1) (#2385)
  gptme/hooks/__init__.py
  gptme/hooks/tests/test_tool_target_instructions.py
  gptme/hooks/tool_target_instructions.py
Due: none

feat(hooks): refactor and extend tool_target_instructions (Phase 1+)
  gptme/hooks/agents_md_inject.py
  gptme/hooks/tests/test_tool_target_instructions.py
  gptme/hooks/tool_target_instructions.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
