Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

test(changelog): add amended-tag flow test to cover release lifecycle regression
  tests/test_build_changelog.py
Due: none

fix(startup): defer prompt UI imports until interactive input
  gptme/chat.py
  gptme/cli/main.py
  tests/test_chat.py
  tests/test_import_boundaries.py
Due: none

fix(compaction): drop tool calls interrupted by a user message from the recent tail
  gptme/tools/autocompact/resume.py
  tests/test_auto_compact.py
Due: none

fix(docs): tighten localhost linkcheck_ignore pattern
  docs/conf.py
Due: none

fix(watch): handle escaped pipes and preserve fractional sleep intervals
  gptme/tools/watch.py
Due: none

ci(docs): add Sphinx linkcheck job to catch dead doc links (#4092)
  .github/workflows/docs.yml
  Makefile
  docs/acp.rst
  docs/conf.py
  docs/custom_tool.rst
  docs/howto/tts-setup.md
  docs/tools.rst
Due: check-rst-formatting, check-markdown-endings

fix(webui): refresh stale 'How do I use the web UI?' demo answer (#4042)
  webui/e2e/connection-state-flash.spec.ts
  webui/src/components/ConversationList.tsx
  webui/src/components/ServerSelector.tsx
  webui/src/components/__tests__/ServerSelector.test.tsx
  webui/src/democonversations.ts
Due: none

docs(tts): correct Kokoro first-run download size
  docs/howto/tts-setup.md
Due: check-markdown-endings

fix(cli): don't echo option-like names in skills show search hint
  gptme/cli/cmd_skills.py
  tests/test_util_cli_skills.py
Due: none

docs(tts): correct Kokoro first-run download size (#4133)
  docs/howto/tts-setup.md
Due: check-markdown-endings

fix(llm): retry Anthropic connection/timeout errors and 408/409 (#4066)
  gptme/eval/dspy/README.md
  gptme/lessons/skills/python-repl/SKILL.md
  gptme/llm/llm_anthropic.py
  gptme/llm/llm_openai.py
  tests/test_llm_anthropic.py
  tests/test_llm_openai.py
Due: check-markdown-endings

fix(docs): update dead repo links to current locations (#4043)
  README.md
  docs/commands.rst
  docs/custom_tool.rst
  docs/projects.rst
  docs/providers-supported.rst
  gptme/llm/validate.py
Due: check-rst-formatting, check-markdown-endings

fix(server): trim session events with clients connected; lock append/trim/read (#4087)
  gptme/server/a2a_api.py
  gptme/server/api_v2_sessions.py
  gptme/server/session_models.py
  tests/test_server_session_models.py
Due: none

fix(llm): back off and retry 429/5xx on openai-subscription requests (#4085)
  gptme/llm/llm_openai_subscription.py
  tests/test_llm_openai_subscription.py
Due: none

docs(server): document 11 missing /api routes in OpenAPI spec (#4052)
  gptme/server/a2a_api.py
  gptme/server/api_v2.py
  gptme/server/auth.py
  gptme/server/computer_api.py
  gptme/server/metrics.py
  gptme/server/openapi_docs.py
  gptme/server/tts_api.py
  tests/test_server.py
Due: none

fix(python): keep TeeIO marker within cap; cap exception text
  gptme/tools/python.py
  tests/test_tools_python.py
Due: none

fix(ci): add provenance=false to Docker push steps to fix 'unknown blob'
  .github/workflows/build.yml
Due: none

fix(server): tool/confirm 404 names the tool and the conversation correctly
  gptme/server/api_v2_sessions.py
  tests/test_server_v2_tool_confirmation.py
Due: none

docs(models): recommend GPT-6.1 Sol over GPT-5.6 Sol, describe Astra; add gpt-6.1-sol to registry
  docs/models.rst
  docs/providers-supported.rst
  docs/providers.rst
  gptme/llm/llm_openai_models.py
  tests/test_llm_models.py
Due: check-rst-formatting

docs(models): correct GPT-6.1 Sol vs GPT-5.6 Sol price comparison
  docs/models.rst
  tests/test_llm_models.py
Due: check-rst-formatting

ci(docs): run linkcheck daily and on docs PRs, not on every run
  .github/workflows/docs-linkcheck.yml
  .github/workflows/docs.yml
Due: none

fix(docs): avoid docutils 'Unexpected indentation' in subagent() docstring
  gptme/tools/subagent/api.py
Due: none

fix(subagent): thread-local effort override beats inherited env; carry effort/usage through planner, continuation, subprocess monitor
  gptme/config/core.py
  gptme/tools/subagent/api.py
  gptme/tools/subagent/execution.py
  tests/test_subagent_unit.py
Due: none

fix(subagent): propagate tool_uses/duration_s through batch wait_all; handle fork+context_window=0
  gptme/tools/subagent/batch.py
  gptme/tools/subagent/execution.py
Due: none

feat(subagent): add context_mode=fork, per-call reasoning_effort, usage reporting
  gptme/llm/llm_anthropic.py
  gptme/tools/subagent/api.py
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/types.py
  tests/test_llm_anthropic.py
  tests/test_subagent_unit.py
Due: none

fix(subagent): correct reasoning_effort isolation comment; exclude fork messages from tool_uses count
  gptme/tools/subagent/api.py
  gptme/tools/subagent/execution.py
  gptme/tools/subagent/types.py
  tests/test_subagent_unit.py
Due: none

fix(responses): pair orphaned function calls with missing-result errors
  gptme/llm/openai_responses.py
  tests/test_openai_responses_input.py
Due: none

fix(webui): redirect after deleting active conversation
  webui/src/components/ConversationSettings.tsx
  webui/src/components/DeleteConversationConfirmationDialog.tsx
  webui/src/components/__tests__/DeleteConversationConfirmationDialog.test.tsx
Due: none

fix(subagent): increase as_completed timeout to account for thread scheduling
  gptme/tools/subagent/batch.py
Due: none

docs(tool-formats): update registry coverage counts for gpt-6.1-sol
  docs/tool-formats.rst
Due: check-rst-formatting

ci(docs): drop README.md from linkcheck PR triggers (README is not crawled)
  .github/workflows/docs-linkcheck.yml
Due: none

test(webui): start non-selected delete test on the selected route
  webui/src/components/__tests__/DeleteConversationConfirmationDialog.test.tsx
Due: none

fix(responses): match tool results to call occurrences, not call IDs
  gptme/llm/openai_responses.py
  tests/test_openai_responses_input.py
Due: none

fix(mcp): confirm diagnostics before connecting to project servers
  docs/mcp.rst
  gptme/cli/cmd_mcp.py
  tests/test_util_cli_mcp.py
Due: check-rst-formatting

fix(mcp): handle invalid port and IPv6 host in confirmation target
  gptme/cli/cmd_mcp.py
  tests/test_util_cli_mcp.py
Due: none

fix(mcp): redact URL credentials in project-server confirmation prompt
  docs/mcp.rst
  gptme/cli/cmd_mcp.py
  tests/test_util_cli_mcp.py
Due: check-rst-formatting

fix(mcp): load workspace config in diagnostic CLI commands
  docs/mcp.rst
  gptme/cli/cmd_mcp.py
  tests/test_util_cli_mcp.py
Due: check-rst-formatting

fix(mcp): redact URL credentials in 'mcp info' output
  gptme/cli/cmd_mcp.py
  tests/test_util_cli_mcp.py
Due: none

fix(mcp): preserve invalid port text in confirmation target
  gptme/cli/cmd_mcp.py
  tests/test_util_cli_mcp.py
Due: none

fix(mcp): mask all query/fragment values in confirmation target
  docs/mcp.rst
  gptme/cli/cmd_mcp.py
  tests/test_util_cli_mcp.py
Due: check-rst-formatting

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
