Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

fix(codeblock): track triple-quote state in ipython blocks (#3704)
  gptme/codeblock.py
  tests/test_codeblock.py
Due: none

fix(codeblock): track ordinary quotes in ipython triple-quote scanner
  gptme/codeblock.py
  tests/test_codeblock.py
Due: none

fix(codeblock): persist backslash-continued ordinary strings in ipython scanner
  gptme/codeblock.py
  tests/test_codeblock.py
Due: none

test(codeblock): cover escaped quotes in ipython ordinary strings
  tests/test_codeblock.py
Due: none

fix(mcp): run TOOL_CONFIRM guardrails on MCP tool.execute()
  gptme/mcp/server.py
  gptme/tools/base.py
  tests/test_mcp_server.py
Due: none

fix(docs/cli): mention subscription auth in no-provider error paths
  docs/getting-started.rst
  gptme/cli/onboard.py
  gptme/init.py
  gptme/llm/llm_openai_subscription.py
Due: check-rst-formatting

fix(llm): default grok-subscription model so SuperGrok sign-in starts gptme
  gptme/llm/models/resolution.py
  tests/test_init.py
  tests/test_json_output.py
  tests/test_llm_models.py
Due: none

fix(mcp): dispatch TOOL_CONFIRM once per MCP tool call
  gptme/hooks/confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/mcp/server.py
  tests/test_mcp_server.py
Due: none

fix(benchmark): raise cold startup threshold 6.0 → 8.0s for CI noise margin
  .github/workflows/benchmark.yml
Due: none

docs: rewrite finetuning page as a working, measured recipe
  docs/finetuning.md
Due: check-markdown-endings

docs: use a text fence for the illustrative JSONL row
  docs/finetuning.md
Due: check-markdown-endings

docs(finetuning): add the LoRA merge step, tighten two claims
  docs/finetuning.md
Due: check-markdown-endings

docs(finetuning): match toolcall_re, unclaim private files, fix _prep_o1
  docs/finetuning.md
Due: check-markdown-endings

docs(finetuning): parse parallel native calls; set output_dir
  docs/finetuning.md
Due: check-markdown-endings

fix(llm): fold non-leading system messages for models that reject them
  gptme/llm/llm_openai.py
  gptme/llm/models/listing.py
  gptme/llm/models/types.py
  tests/test_fold_mid_system.py
Due: none

fix(llm): infer supports_mid_system=False for Qwen3.5 on resolve
  gptme/llm/llm_openai.py
  gptme/llm/models/__init__.py
  gptme/llm/models/resolution.py
  gptme/llm/models/types.py
  tests/test_fold_mid_system.py
Due: none

docs(finetuning): drop private-path and unmerged-branch claims
  docs/finetuning.md
Due: check-markdown-endings

fix(llm): tolerate missing supports_mid_system in model_to_dict
  gptme/llm/models/listing.py
  tests/test_llm_models_resolution.py
Due: none

feat(llm): make reasoning effort controllable and observable for OpenAI-compatible providers
  docs/config.rst
  docs/providers.rst
  gptme/llm/llm_anthropic.py
  gptme/llm/llm_openai.py
  gptme/llm/llm_openai_subscription.py
  gptme/llm/openai_responses.py
  gptme/message.py
  tests/test_llm_anthropic.py
  tests/test_llm_openai_reasoning_effort.py
  tests/test_llm_openai_subscription.py
  tests/test_message.py
Due: check-rst-formatting

feat(config): trust-on-first-use gate for project-level shell execution
  gptme/config/__init__.py
  gptme/config/trust.py
  gptme/init.py
  gptme/prompts/__init__.py
  tests/test_config_trust.py
Due: none

fix(llm): keep reasoning effort on stream fallbacks
  gptme/llm/llm_anthropic.py
  gptme/llm/llm_openai_subscription.py
  tests/test_llm_anthropic.py
  tests/test_llm_openai_subscription.py
Due: none

fix(config): bind project shell trust to workspace and escape consent UI
  gptme/config/__init__.py
  gptme/config/trust.py
  gptme/init.py
  gptme/prompts/__init__.py
  tests/test_config_trust.py
Due: none

fix(config): don't prompt for project-shell trust without a TTY
  gptme/config/trust.py
  tests/conftest.py
  tests/test_config_trust.py
Due: none

fix(server): do not execute caller-supplied agent fork commands
  gptme/agent/cli.py
  gptme/agent/workspace.py
  gptme/server/api_v2_agents.py
  gptme/server/openapi_docs.py
  tests/test_agent_fork_command.py
  tests/test_server_path_traversal.py
  tests/test_server_v2.py
  tests/test_server_v2_agents.py
  webui/src/components/CreateAgentDialog.tsx
Due: none

fix(server): reject unsupported fork_command extra tokens
  gptme/agent/workspace.py
  tests/test_agent_fork_command.py
  tests/test_server_v2_agents.py
Due: none

docs(finetuning): record #3780 client-side fold of mid-system messages
  docs/finetuning.md
Due: check-markdown-endings

fix(server): detect "No provider configured" as config error in server fallback
  gptme/init.py
  gptme/server/cli.py
Due: none

fix(cli): pass model alias instead of full name to _log_token_usage
  gptme/chat.py
Due: none

feat(cli): add --track-tokens flag to print running token count per LLM call
  gptme/chat.py
  gptme/cli/main.py
  tests/test_track_tokens.py
Due: none

fix(tests): patch chat module explicitly in token tests
  tests/test_track_tokens.py
Due: none

fix(cli): isolate token tracking and preserve JSON output
  gptme/chat.py
  tests/test_track_tokens.py
Due: none

fix(cli): log --track-tokens failures instead of swallowing them
  gptme/chat.py
  tests/test_track_tokens.py
Due: none

fix(cli): resolve model name for --track-tokens and isolate test cwd
  gptme/chat.py
  tests/test_track_tokens.py
Due: none

fix(cli): include output tokens in --track-tokens occupancy
  gptme/chat.py
  tests/test_track_tokens.py
Due: none

fix(cli): drop --track-tokens CLI flag, keep GPTME_TRACK_TOKENS env
  gptme/chat.py
  gptme/cli/main.py
Due: none

fix(chat): move token reset inside try and guard log_token_usage against errors
  gptme/chat.py
  tests/test_track_tokens.py
Due: none

fix(cli): log --track-tokens for architect planning turn
  gptme/cli/main.py
  tests/test_track_tokens.py
Due: none

fix(chat): restore outer token accumulator after nested chat() call
  gptme/chat.py
  tests/test_track_tokens.py
Due: none

fix(cli): store track-tokens accumulator as an immutable int
  gptme/chat.py
  tests/test_track_tokens.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
