Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

feat(cli): add gear autonomy presets
  docs/config.rst
  gptme/cli/main.py
  gptme/config/__init__.py
  gptme/config/chat.py
  gptme/config/cli_setup.py
  gptme/config/models.py
  gptme/config/user.py
  gptme/gears.py
  tests/test_config.py
  tests/test_gears.py
Due: check-rst-formatting

fix(test): add no_confirm=None to fake configs missing the attribute
  tests/test_json_output.py
Due: none

fix(gears): remove ipython from gear 2 to match shell-excluded description
  gptme/gears.py
  tests/test_gears.py
Due: none

fix(test): add gear=None to fake configs missing the attribute
  tests/test_cli.py
  tests/test_json_output.py
Due: none

fix(test): update gear 2 tool assertion to exclude ipython
  tests/test_config.py
Due: none

fix(mcp): keep tool stdout off stdio transport (#3182)
  gptme/acp/__main__.py
  gptme/cli/cmd_mcp_serve.py
  gptme/mcp/server.py
  gptme/util/stdio.py
  tests/test_acp_stdout.py
  tests/test_mcp_server.py
Due: none

feat(eval): add SWE-bench two-stage file retrieval (#3179)
  gptme/eval/swebench/evaluate.py
  gptme/eval/swebench/main.py
  gptme/eval/swebench/retrieval.py
  tests/test_eval_swebench.py
  tests/test_eval_swebench_retrieval.py
Due: none

ci(release): push version bumps via release-environment deploy key
  .github/workflows/release.yml
  scripts/publish_release.sh
Due: none

fix(ci): stop tauri-action overwriting release changelogs
  .github/workflows/tauri.yml
Due: none

ci(release): push version bumps via release-environment deploy key (#3183)
  .github/workflows/release.yml
  scripts/publish_release.sh
Due: none

fix(ci): stop tauri-action overwriting release changelogs (#3184)
  .github/workflows/tauri.yml
Due: none

fix(release): drop duplicate version heading from GitHub release bodies
  .github/workflows/release.yml
  Makefile
  docs/changelog.rst
  docs/releases/v0.32.0.md
  scripts/build_changelog.py
  scripts/changelog_contributors.csv
  scripts/publish_release.sh
Due: check-rst-formatting, check-markdown-endings

fix(ci): name Android release assets like desktop bundles
  .github/workflows/tauri.yml
Due: none

fix: handle empty compare base and verify toctree insertion (review)
  .github/workflows/release.yml
  scripts/publish_release.sh
Due: none

fix(ci): name Android release assets like desktop bundles (#3186)
  .github/workflows/tauri.yml
Due: none

fix(release): drop duplicate version heading from GitHub release bodies (#3185)
  .github/workflows/release.yml
  Makefile
  docs/changelog.rst
  docs/releases/v0.32.0.md
  scripts/build_changelog.py
  scripts/changelog_contributors.csv
  scripts/publish_release.sh
Due: check-rst-formatting, check-markdown-endings

feat(tui): add Textual-based TUI (gptme-tui)
  docs/index.rst
  docs/tui.rst
  gptme/config/user.py
  gptme/tui/__init__.py
  gptme/tui/app.py
  gptme/tui/main.py
  poetry.lock
  pyproject.toml
  tests/test_tui.py
Due: check-rst-formatting

docs: merge local-models into custom-providers
  docs/custom-providers.md
  docs/custom-providers.rst
  docs/getting-started.rst
  docs/providers.rst
Due: check-rst-formatting, check-markdown-endings

fix(tui): address first-use feedback
  .pre-commit-config.yaml
  docs/tui.rst
  gptme/tui/app.py
  tests/test_tui.py
Due: check-rst-formatting

feat(ci): add mypy type coverage reporting to Codecov
  .github/workflows/lint.yml
  .gitignore
  Makefile
Due: none

fix(tui): never load complete tool, fix CI, strip message whitespace
  .github/workflows/lint.yml
  docs/conf.py
  gptme/tui/app.py
  gptme/tui/main.py
Due: none

feat(cli): add gear autonomy presets (#3180)
  docs/config.rst
  gptme/cli/main.py
  gptme/config/__init__.py
  gptme/config/chat.py
  gptme/config/cli_setup.py
  gptme/config/models.py
  gptme/config/user.py
  gptme/gears.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_gears.py
  tests/test_json_output.py
Due: check-rst-formatting

fix(ci): mkdir -p report dir before mypy cobertura run
  Makefile
Due: none

fix(tui): compact markdown rendering and layout spacing
  gptme/tui/app.py
Due: none

fix(tui): reassert raw tty mode aggressively around tool execution
  gptme/tui/app.py
Due: none

feat(ci): add mypy type coverage reporting to Codecov (#3189)
  .github/workflows/lint.yml
  .gitignore
  Makefile
Due: none

feat(tui): multi-line input, E2E test tooling (mock model + tmux real-TTY)
  docs/tui.rst
  gptme/tui/app.py
  tests/test_tui.py
  tests/test_tui_e2e.py
Due: check-rst-formatting

fix(tui): address review findings, harden real-TTY tests
  gptme/tui/app.py
  tests/test_tui.py
  tests/test_tui_e2e.py
Due: none

feat(tui): add experimental --inline native-scrollback mode
  docs/tui.rst
  gptme/tui/app.py
  gptme/tui/main.py
  tests/test_tui_e2e.py
Due: check-rst-formatting

fix(docs): widen TUI keys table column (Alt+Enter row overflowed)
  docs/tui.rst
Due: check-rst-formatting

perf: cut startup time ~6x by deferring heavy imports
  .github/workflows/benchmark.yml
  Makefile
  gptme/cli/main.py
  gptme/hooks/workspace_agents.py
  gptme/lessons/parser.py
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  gptme/plugins/entrypoints.py
  gptme/plugins/registry.py
  gptme/tools/browser.py
  gptme/tools/mcp_adapter.py
  tests/test_cli.py
  tests/test_json_output.py
  tests/test_llm_openai.py
  tests/test_search_alias.py
Due: none

fix(plugins): match enabled filter on package name too, add tests
  gptme/plugins/entrypoints.py
  tests/test_unified_plugins.py
Due: none

feat(tui): add Textual-based TUI (gptme-tui) (#3188)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  docs/conf.py
  docs/index.rst
  docs/tui.rst
  gptme/config/user.py
  gptme/tui/__init__.py
  gptme/tui/app.py
  gptme/tui/main.py
  poetry.lock
  pyproject.toml
  tests/test_tui.py
  tests/test_tui_e2e.py
Due: check-rst-formatting

fix(test): inject pypdf mock via sys.modules after lazy-import change
  tests/test_tools_browser.py
Due: none

docs(custom-providers): remove Groq section — it is a bundled provider, not custom
  docs/custom-providers.rst
Due: check-rst-formatting

fix: resolve console at call time in cost_display; bench --help
  .github/workflows/benchmark.yml
  Makefile
  gptme/util/cost_display.py
Due: none

fix(test): patch gptme.util.console in cost_display tests
  tests/test_cost_display.py
Due: none

perf: cut startup time ~6x by deferring heavy imports (#3193)
  .github/workflows/benchmark.yml
  Makefile
  gptme/cli/main.py
  gptme/hooks/workspace_agents.py
  gptme/lessons/parser.py
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  gptme/plugins/entrypoints.py
  gptme/plugins/registry.py
  gptme/tools/browser.py
  gptme/tools/mcp_adapter.py
  gptme/util/cost_display.py
  tests/test_cli.py
  tests/test_cost_display.py
  tests/test_json_output.py
  tests/test_llm_openai.py
  tests/test_search_alias.py
  tests/test_tools_browser.py
  tests/test_unified_plugins.py
Due: none

docs: fix Groq link order + restore missing issue refs in custom-providers
  docs/custom-providers.rst
  docs/getting-started.rst
Due: check-rst-formatting

chore: update changelog_contributors caches
  scripts/changelog_contributors.csv
  scripts/changelog_contributors_twitter.csv
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
