Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

fix(server): add timeout to subscription OAuth background threads
  gptme/llm/llm_grok_subscription.py
  gptme/llm/llm_openai_subscription.py
  gptme/llm/llm_openrouter_subscription.py
  gptme/server/api_v2.py
  tests/test_server_subscription_connect.py
Due: none

fix(webui): cancel subscription poll and in-flight request on wizard unmount
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
Due: none

fix(tauri): preserve OAuth chars in deep-link auth code injection
  tauri/src-tauri/src/lib.rs
Due: none

test(tauri): cover OAuth deep-link JS injection encoding
  tauri/src-tauri/src/lib.rs
  webui/src/utils/__tests__/connectionConfig.test.ts
Due: none

fix(config): don't crash on malformed [[mcp.servers]] entry
  gptme/config/user.py
  tests/test_config.py
Due: none

refactor(cli): remove architect/editor split mode
  gptme/cli/main.py
  gptme/config/models.py
  gptme/prompts/architect.py
  tests/test_cli.py
  tests/test_config.py
Due: none

fix(tauri): regenerate icons from SVG for readable small-size rendering
  tauri/src-tauri/icons/128x128.png
  tauri/src-tauri/icons/128x128@2x.png
  tauri/src-tauri/icons/32x32.png
  tauri/src-tauri/icons/64x64.png
  tauri/src-tauri/icons/icon.ico
Due: none

fix(tauri): don't fail CI on cleanup ENOTEMPTY race
  tauri/e2e/wdio.conf.js
Due: none

fix(config): harden MCP overlay merge against malformed values
  gptme/config/user.py
  tests/test_config.py
Due: none

fix(service): preserve existing model when --force without --model
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

docs(plugins): use gptme -v instead of GPTME_LOG_LEVEL
  docs/plugins.rst
Due: check-rst-formatting

docs(plugins): use --verbose instead of GPTME_LOG_LEVEL=debug
  docs/plugins.rst
Due: check-rst-formatting

fix(tauri): retry connect on managed sidecar startup delay
  webui/src/components/SetupWizard.tsx
Due: none

fix(tauri): classify managed connect retries by probe reason
  webui/src/components/SetupWizard.tsx
  webui/src/components/__tests__/SetupWizard.test.tsx
  webui/src/contexts/ApiContext.tsx
  webui/src/utils/__tests__/api.test.ts
  webui/src/utils/api.ts
Due: none

feat: add Yolo-Auto provider
  .env.example
  docs/providers-supported.rst
  docs/providers.rst
  gptme/llm/__init__.py
  gptme/llm/llm_openai.py
  gptme/llm/models/data.py
  gptme/llm/models/listing.py
  gptme/llm/models/resolution.py
  gptme/llm/models/types.py
  gptme/llm/validate.py
  tests/test_llm_validate.py
Due: check-rst-formatting

fix(e2e): wait for Local button to appear after clicking Get started
  tauri/e2e/test/specs/first_run.test.js
Due: none

fix(wizard): don't auto-advance past mode step when already connected
  webui/src/components/SetupWizard.tsx
Due: none

docs: correct inaccurate and stale claims across README and docs
  README.md
  docs/acp.rst
  docs/agents.rst
  docs/agents/autonomous.rst
  docs/agents/workspace.rst
  docs/alternatives.rst
  docs/commands.rst
  docs/examples.rst
  docs/features.rst
  docs/hooks.rst
  docs/lessons.rst
  docs/lessons/README.md
  docs/mcp.rst
  docs/memory.rst
  docs/plugins.rst
  docs/tools.rst
  docs/tools/request-tool-change.rst
  docs/tui.rst
  docs/webui.rst
Due: check-rst-formatting, check-markdown-endings

docs(features): align the intro with the repositioned comparison
  docs/features.rst
Due: check-rst-formatting

docs(features): don't claim backtracking rolls back the workspace
  docs/features.rst
Due: check-rst-formatting

refactor(tools): remove patch_anchored and view_anchored
  gptme/cli/cmd_review_pr.py
  gptme/tools/_anchored.py
  gptme/tools/patch_anchored.py
  tests/test_tools__anchored.py
  tests/test_tools_patch_anchored.py
Due: none

docs: select workspace before gptme-agent install
  README.md
  docs/features.rst
Due: check-rst-formatting, check-markdown-endings

refactor(server): stop falling back to the legacy web UI
  docs/webui.rst
  gptme/server/app.py
  gptme/server/computer_view/computer.html
  gptme/util/export.py
  gptme/util/export_templates/index.html
  gptme/util/export_templates/main.js
  gptme/util/export_templates/style.css
  pyproject.toml
  tests/test_computer_docker_config.py
  tests/test_reduce.py
  tests/test_server.py
  tests/test_server_webui_dir.py
Due: check-rst-formatting

fix(pyinstaller): bundle computer_view and export_templates
  scripts/pyinstaller/gptme-server.spec
Due: none

fix(service): parse last systemd Environment model assignment
  gptme/cli/cmd_service.py
  tests/test_cmd_service.py
Due: none

feat(server): forward temperature and top_p request overrides to provider
  gptme/server/api_v2_sessions.py
  gptme/server/openapi_docs.py
  gptme/server/session_models.py
  gptme/server/session_step.py
  tests/test_server_v2_sessions.py
Due: none

fix(cli): warn on stderr when prompts expand path not found
  gptme/cli/util.py
Due: none

fix(server): reject NaN/Inf for /step temperature and top_p
  gptme/server/api_v2_sessions.py
  tests/test_server_v2_sessions.py
Due: none

fix(server): accept extra kwargs in ACP step thread test stub
  tests/test_acp_session_runtime.py
Due: none

fix(cli): broaden prompts-expand missing-path warnings
  gptme/cli/util.py
  tests/test_util_cli.py
Due: none

fix(server): reject overflow integers for /step temperature and top_p
  gptme/server/api_v2_sessions.py
  tests/test_server_v2_sessions.py
Due: none

fix(cli): don't hide missing-path warnings behind command heuristic
  gptme/cli/util.py
  tests/test_util_cli.py
Due: none

refactor(cli): remove --gear, --multi-tool, --injection-hygiene, --manifest-dir
  docs/config.rst
  docs/security.rst
  gptme/cli/main.py
  gptme/config/chat.py
  gptme/config/cli_setup.py
  gptme/config/models.py
  gptme/config/user.py
  gptme/eval/dspy/README.md
  gptme/gears.py
  gptme/hooks/manifest.py
  gptme/hooks/tests/test_manifest.py
  gptme/lessons/skills/python-repl/SKILL.md
  tests/test_config.py
  tests/test_gears.py
Due: check-rst-formatting, check-markdown-endings

chore: revert unrelated markdown reformatting
  gptme/eval/dspy/README.md
  gptme/lessons/skills/python-repl/SKILL.md
Due: check-markdown-endings

fix: ignore legacy gear keys and drop stale flag references
  docs/config.rst
  docs/features.rst
  gptme/config/chat.py
  gptme/config/models.py
  gptme/hooks/injection_screening.py
  gptme/tools/restart.py
  tests/test_config.py
Due: check-rst-formatting

fix: correct the rebuild instructions and cover the export templates
  docs/webui.rst
  gptme/server/app.py
  tests/test_util_export.py
Due: check-rst-formatting

fix(cli): only warn on whole-prompt missing expand paths
  gptme/cli/util.py
  tests/test_util_cli.py
Due: none

fix(cli): warn on spaced whole-prompt paths; skip punct-normalized hits
  gptme/cli/util.py
  tests/test_util_cli.py
Due: none

fix(cli): keep quoted mixed-prose expand prompts silent
  gptme/cli/util.py
  tests/test_util_cli.py
Due: none

refactor(shell): remove bashlex fallback after tree-sitter soak
  gptme/tools/shell.py
  poetry.lock
  pyproject.toml
  tests/test_shell_parser.py
Due: none
