Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

refactor(hooks): centralize auto-confirm state and unify server with CLI
  gptme/hooks/cli_confirm.py
  gptme/hooks/confirm.py
  gptme/hooks/server_confirm.py
  gptme/util/ask_execute.py
Due: none

docs: add design docs to toctree
  docs/index.rst
Due: check-rst-formatting

feat(hooks): add server hook context vars and registration (Phase 5)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/server_confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/server/api.py
  gptme/server/api_v2_sessions.py
Due: check-markdown-endings

docs(design): update implementation status for Phase 7 - ask_execute removal
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

refactor(hooks): revert Phase 5 tool migration - simplify without adding lines
  docs/design/hook-based-confirmations.md
  gptme/tools/mcp_adapter.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  gptme/tools/save.py
  gptme/tools/shell.py
  gptme/util/ask_execute.py
Due: check-markdown-endings

refactor(hooks): consolidate help text - Phase 6.4 simplification
  gptme/hooks/cli_confirm.py
  gptme/util/ask_execute.py
Due: none

docs(design): update implementation status to match design phases
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

refactor(hooks): consolidate preview printing - Phase 6.1 simplification
  docs/design/hook-based-confirmations.md
  gptme/hooks/cli_confirm.py
Due: check-markdown-endings

feat(chat): integrate hook-based confirmation into confirm_func
  docs/design/hook-based-confirmations.md
  gptme/chat.py
Due: check-markdown-endings

feat(hooks): add confirmation hook registration and bridge utilities
  gptme/hooks/__init__.py
  gptme/hooks/confirm_bridge.py
Due: none

test(hooks): add tests for tool confirmation hook system
  gptme/hooks/tests/test_confirm.py
Due: none

feat(hooks): add tool confirmation hook system
  gptme/hooks/__init__.py
  gptme/hooks/auto_confirm.py
  gptme/hooks/cli_confirm.py
  gptme/hooks/confirm.py
Due: none

feat(server): integrate confirmation hooks into v1 API
  gptme/server/api.py
Due: none

refactor(hooks): move CLI hook registration to init_hooks, use contextvars
  gptme/chat.py
  gptme/hooks/__init__.py
  gptme/hooks/confirm.py
  gptme/init.py
Due: none

feat(chat): register CLI confirmation hook for interactive mode
  gptme/chat.py
Due: none

fix(docs): add ToolConfirmHook to nitpick_ignore
  docs/conf.py
Due: none

feat(hooks): implement Phase 5 tool migration for hook-based confirmations
  docs/design/hook-based-confirmations.md
  gptme/hooks/confirm_bridge.py
  gptme/tools/mcp_adapter.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  gptme/tools/save.py
  gptme/tools/shell.py
  gptme/util/ask_execute.py
Due: check-markdown-endings

docs(design): update implementation status for Phase 6.2-6.3
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

feat(hooks): add server confirmation hook (Phase 4)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/server_confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/server/api_v2_sessions.py
Due: check-markdown-endings

fix(tests): update MCP tests for hook-based confirmation
  tests/test_mcp_discovery.py
Due: none

refactor(hooks): move confirmation hook mode detection into init_hooks()
  gptme/chat.py
  gptme/hooks/__init__.py
  gptme/init.py
Due: none

refactor(chat): remove deprecated confirm_func parameter
  gptme/chat.py
Due: none

test: update test_tools_save for new execute function signatures
  tests/test_tools_save.py
Due: none

fix(hooks): use correct HookType value 'tool.confirm' (not 'tool_confirm')
  gptme/hooks/tests/test_confirm.py
  gptme/tools/shell.py
Due: none

fix(cli_confirm): add missing /a option to confirmation prompt
  gptme/hooks/cli_confirm.py
Due: none

refactor(ask_execute): remove dead code after hook migration
  gptme/util/ask_execute.py
Due: none

fix(tests): remove confirm parameter from execute() calls
  tests/test_mcp_adapter.py
  tests/test_util_gh.py
Due: none

refactor: remove confirm parameter from step() and clean up unused code
  gptme/acp/agent.py
  gptme/chat.py
  gptme/server/api.py
  scripts/treeofthoughts.py
Due: none

fix(lint): remove unused imports and fix type narrowing
  gptme/hooks/__init__.py
  gptme/util/ask_execute.py
Due: none

fix(types): resolve type errors from hooks refactor
  gptme/commands/session.py
  tests/test_parallel.py
Due: none

refactor: remove ConfirmFunc usage from tools and commands
  gptme.toml
  gptme/chat.py
  gptme/commands/base.py
  gptme/commands/export.py
  gptme/commands/meta.py
  gptme/commands/session.py
  gptme/hooks/__init__.py
  gptme/hooks/confirm.py
  gptme/mcp/client.py
  gptme/tools/__init__.py
  gptme/tools/base.py
  gptme/tools/choice.py
  gptme/tools/complete.py
  gptme/tools/form.py
  gptme/tools/gh.py
  gptme/tools/mcp.py
  gptme/tools/mcp_adapter.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  gptme/tools/python.py
  gptme/tools/restart.py
  gptme/tools/save.py
  gptme/tools/shell.py
  gptme/tools/tmux.py
  gptme/tools/todo.py
  gptme/util/ask_execute.py
  gptme/util/cost_display.py
Due: none

refactor: consolidate server_confirm registration into init_hooks
  gptme/hooks/__init__.py
  gptme/init.py
  gptme/server/api.py
  gptme/server/cli.py
Due: none

fix: add missing confirm import to python.py and tmux.py
  gptme/tools/python.py
  gptme/tools/tmux.py
Due: none

chore: re-trigger CI (infrastructure timeout)
  .github/CI_TRIGGER
Due: none

fix(session): handle None confirm in _rename for non-interactive mode
  gptme/commands/session.py
Due: none

feat(hooks): implement tool auto-approve via ToolSpec hooks (Phase 8)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/tools/shell.py
Due: check-markdown-endings

refactor(hooks): remove confirm_bridge, use hooks directly in ToolUse.execute
  gptme/chat.py
  gptme/commands/base.py
  gptme/hooks/confirm_bridge.py
  gptme/server/api.py
  gptme/tools/__init__.py
  gptme/tools/base.py
  gptme/tools/parallel.py
Due: none

refactor: remove deprecated _confirm parameters
  gptme/commands/base.py
  gptme/tools/choice.py
  gptme/tools/complete.py
  gptme/tools/form.py
  gptme/tools/gh.py
  gptme/tools/mcp.py
  gptme/tools/mcp_adapter.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  gptme/tools/python.py
  gptme/tools/restart.py
  gptme/tools/save.py
  gptme/tools/shell.py
  gptme/tools/tmux.py
  gptme/tools/todo.py
Due: none

fix(llm): handle list content in OpenRouter reasoning extraction
  gptme/llm/llm_openai.py
  tests/test_llm_openai.py
Due: none

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
