Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

feat(context_compression): add configuration options for adaptive compression
  gptme/context_compression/adaptive.py
  gptme/context_compression/analyzer/ratio_selector.py
  gptme/context_compression/analyzer/scorer.py
  gptme/context_compression/analyzer/task_analyzer.py
  gptme/context_compression/config.py
  tests/test_adaptive_config.py
Due: none

docs(context_compression): add configuration guide for adaptive compression
  docs/configuration-adaptive-compression.md
Due: check-markdown-endings

test(compression): add validation test script for Phase 3.1 Week 5
  test_analyzer_simple.py
Due: none

fix(context_compression): enhance indicator extraction for architecture tasks
  gptme/context_compression/analyzer/task_analyzer.py
  test_analyzer_simple.py
Due: none

feat(context_compression): Week 6 Day 2 Priority 1-3 fixes - 73.3% validation success
  gptme/context_compression/analyzer/scorer.py
  gptme/context_compression/analyzer/task_analyzer.py
Due: none

feat(context_compression): Week 6 Day 2 complete - 93.3% validation (14/15 target hit)
  gptme/context_compression/analyzer/scorer.py
  gptme/context_compression/analyzer/task_analyzer.py
Due: none

feat(context_compression): Week 6 Day 3 - 100% validation (PR creation detection)
  gptme/context_compression/analyzer/indicators.py
  gptme/context_compression/analyzer/scorer.py
  gptme/context_compression/analyzer/task_analyzer.py
Due: none

feat(context_compression): add Phase 3.1 Week 5 complete validation suite
  test_all_15_cases.py
Due: none

feat(server): add API v2 client for programmatic interaction
  gptme/server/client.py
  gptme/tools/__init__.py
  gptme/tools/lessons.py
  tests/test_server_client.py
  tests/test_tools_shell.py
  tests/test_tools_time_awareness.py
Due: none

fix(server): address PR review - resource leak and null validation in create_session
  gptme/server/client.py
  tests/test_server_client.py
Due: none

fix(server): use explicit dict[str, Any] type for ConversationEvent.data
  gptme/server/client.py
Due: none

docs(compression): add Phase 1 Week 2 documentation
  docs/config.rst
  docs/context-compression.rst
  docs/index.rst
Due: check-rst-formatting

fix(context_compression): add llmlingua to all extras and implement proper preservation
  gptme/context_compression/extractive.py
  poetry.lock
  pyproject.toml
Due: none

fix(context_compression): fix critical bugs in Phase 1 Week 2 validation
  docs/validation-phase1-week2.md
  gptme/context_compression/extractive.py
  scripts/validate_compression.py
Due: check-markdown-endings

fix(docs): resolve remaining build warnings
  design-docs/ci-timeout-adjustment.md
  design-docs/hybrid-compression-design.md
  design-docs/hybrid-compression-summary.md
  docs/conf.py
Due: check-markdown-endings

feat(context_compression): implement Phase 1 core infrastructure
  gptme/context_compression/__init__.py
  gptme/context_compression/compressor.py
  gptme/context_compression/config.py
  gptme/context_compression/extractive.py
  poetry.lock
  pyproject.toml
Due: none

feat(compression): Phase 2 Week 1 validation suite infrastructure
  tests/compression/validation/VALIDATION_SUITE.md
  tests/compression/validation/corpus/README.md
  tests/compression/validation/corpus/task-001-calendar-https-fix.yaml
  tests/compression/validation/corpus/task-002-metrics-dashboard.yaml
  tests/compression/validation/corpus/task-003-context-selector-docs.yaml
  tests/compression/validation/corpus/task-004-gepa-test-validation.yaml
  tests/compression/validation/corpus/task-005-compression-design-research.yaml
  tests/compression/validation/corpus/task-006-twitter-auth-fix.yaml
  tests/compression/validation/corpus/task-007-input-orchestrator-service.yaml
  tests/compression/validation/corpus/task-008-phase2-planning-doc.yaml
  tests/compression/validation/corpus/task-009-context-selector-tests.yaml
  tests/compression/validation/corpus/task-010-token-efficiency-analysis.yaml
  tests/compression/validation/corpus/task-011-email-duplicate-replies.yaml
  tests/compression/validation/corpus/task-012-task-queue-integration.yaml
  tests/compression/validation/corpus/task-013-compression-validation-report.yaml
  tests/compression/validation/corpus/task-014-compression-unit-tests.yaml
  tests/compression/validation/corpus/task-015-ci-timeout-adjustment.yaml
  tests/compression/validation/corpus/task-016-preservation-fix.yaml
  tests/compression/validation/corpus/task-017-hybrid-compression-research.yaml
  tests/compression/validation/scripts/run_validation.py
Due: check-markdown-endings

fix(context_compression): resolve CI failures
  docs/context-compression.rst
  docs/validation-phase1-week2.md
  gptme/context_compression/__init__.py
  gptme/context_compression/extractive.py
Due: check-rst-formatting, check-markdown-endings

refactor: simplify PR to <1000 lines (remove docs, tests)
  design-docs/ci-timeout-adjustment.md
  design-docs/hybrid-compression-design.md
  design-docs/hybrid-compression-summary.md
  docs/config.rst
  docs/context-compression.rst
  scripts/validate_compression.py
  tests/test_compression_integration.py
  tests/test_context_compression.py
  tests/test_context_compression_simple.py
Due: check-rst-formatting, check-markdown-endings

fix(docs): remove broken reference to validation-phase1-week2
  docs/context-compression.rst
Due: check-rst-formatting

feat(validation): Phase 2 Week 1 Days 3-4 - evaluation infrastructure enhancements
  tests/compression/validation/scripts/context_metrics.py
  tests/compression/validation/scripts/enhanced_validators.py
  tests/compression/validation/scripts/run_validation.py
  tests/compression/validation/scripts/statistical_analysis.py
  tests/compression/validation/scripts/visualization.py
Due: none

feat(validation): add comprehensive report generation script
  tests/compression/validation/scripts/generate_report.py
  tests/compression/validation/validation_report.md
Due: check-markdown-endings

ci: increase test timeout from 8 to 12 minutes for compression tests
  .github/workflows/test.yml
Due: none

fix(validation): resolve workspace path and statistical analysis bugs
  tests/compression/validation/scripts/run_validation.py
  tests/compression/validation/scripts/statistical_analysis.py
Due: none

fix(validation): address Erik's review comments
  design-docs/ci-timeout-adjustment.md
  tests/compression/validation/scripts/context_metrics.py
Due: check-markdown-endings

refactor: remove validation framework (use gptme eval instead)
  tests/compression/validation/VALIDATION_SUITE.md
  tests/compression/validation/corpus/README.md
  tests/compression/validation/corpus/task-001-calendar-https-fix.yaml
  tests/compression/validation/corpus/task-002-metrics-dashboard.yaml
  tests/compression/validation/corpus/task-003-context-selector-docs.yaml
  tests/compression/validation/corpus/task-004-gepa-test-validation.yaml
  tests/compression/validation/corpus/task-005-compression-design-research.yaml
  tests/compression/validation/corpus/task-006-twitter-auth-fix.yaml
  tests/compression/validation/corpus/task-007-input-orchestrator-service.yaml
  tests/compression/validation/corpus/task-008-phase2-planning-doc.yaml
  tests/compression/validation/corpus/task-009-context-selector-tests.yaml
  tests/compression/validation/corpus/task-010-token-efficiency-analysis.yaml
  tests/compression/validation/corpus/task-011-email-duplicate-replies.yaml
  tests/compression/validation/corpus/task-012-task-queue-integration.yaml
  tests/compression/validation/corpus/task-013-compression-validation-report.yaml
  tests/compression/validation/corpus/task-014-compression-unit-tests.yaml
  tests/compression/validation/corpus/task-015-ci-timeout-adjustment.yaml
  tests/compression/validation/corpus/task-016-preservation-fix.yaml
  tests/compression/validation/corpus/task-017-hybrid-compression-research.yaml
  tests/compression/validation/scripts/context_metrics.py
  tests/compression/validation/scripts/enhanced_validators.py
  tests/compression/validation/scripts/generate_report.py
  tests/compression/validation/scripts/run_validation.py
  tests/compression/validation/scripts/statistical_analysis.py
  tests/compression/validation/scripts/visualization.py
  tests/compression/validation/validation_report.md
Due: check-markdown-endings

feat(context_compression): Phase 1 Week 2 - Integration with gptme context loading
  gptme/config.py
  gptme/context_compression/config.py
  gptme/prompts.py
  tests/test_compression_integration.py
Due: none

test(compression): add comprehensive preservation tests and documentation
  gptme/context_compression/PRESERVATION.md
  tests/test_context_compression.py
Due: check-markdown-endings

feat(context-compression): Phase 3.1 Week 1 - Core analyzer implementation
  gptme/context_compression/analyzer/__init__.py
  gptme/context_compression/analyzer/indicators.py
  gptme/context_compression/analyzer/ratio_selector.py
  gptme/context_compression/analyzer/scorer.py
  gptme/context_compression/analyzer/task_analyzer.py
  tests/test_analyzer.py
Due: none

feat(context-compression): Phase 3.1 Week 2 - Implement indicator extraction
  gptme/context_compression/analyzer/task_analyzer.py
  tests/test_analyzer_extraction.py
Due: none

fix(compression): add backward compatibility for TestResult schema evolution
  gptme.toml
  tests/compression/evaluation.py
Due: none

feat(context-compression): implement AdaptiveCompressor for Phase 3.1 Week 3
  gptme/context_compression/adaptive.py
Due: none

fix(compression): README commands need poetry run for dev dependencies
  tests/compression/README.md
Due: check-markdown-endings

feat(context-compression): add adaptive mode config and tests
  gptme/context_compression/__init__.py
  gptme/context_compression/config.py
  tests/test_adaptive_compression.py
Due: none
