Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [types-tabulate, types-docutils, tomli, tomli_w, opentelemetry-api, opentelemetry-sdk, prometheus-client, prompt_toolkit, click, pytest, openai==1.101.0, rich, tomlkit, dspy]
    args: [--ignore-missing-imports, --check-untyped-defs]
- repo: local
  hooks:
  - id: check-rst-formatting
    name: Check RST nested list formatting
    description: Ensures RST files have proper blank lines between parent/child list items
    entry: python3 scripts/check_rst_formatting.py
    language: system
    files: \.rst$
    exclude: docs/_build/
    args: [docs/]
  - id: check-markdown-endings
    name: Check markdown file endings for cut-offs
    description: Detects files ending with suspicious patterns indicating incomplete codeblock content
    entry: python3 scripts/check_markdown_endings.py
    language: system
    files: \.md$
    exclude: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
#- repo: local
#  hooks:
#  - id: pytest
#    name: pytest
#    stages: [commit]
#    types: [python]
#    entry: make test
#    language: system
#    pass_filenames: false
#    always_run: true

refactor(auto-naming): consolidate duplicated auto-naming logic into try_auto_name
  gptme/chat.py
  gptme/server/api_v2_sessions.py
  gptme/util/auto_naming.py
  tests/test_auto_naming.py
Due: none

perf(chat): avoid spawning naming threads after auto-naming window closes
  gptme/chat.py
  gptme/util/auto_naming.py
Due: none

test(hooks): add tests for cli_confirm and form_autodetect hooks
  gptme/hooks/tests/test_cli_confirm.py
  gptme/hooks/tests/test_form_autodetect.py
Due: none

test(hooks): add tests for cli_confirm and form_autodetect
  gptme/hooks/tests/test_cli_confirm.py
  gptme/hooks/tests/test_form_autodetect.py
Due: none

refactor(auto-naming): consolidate duplicated auto-naming logic (#1542)
  gptme/chat.py
  gptme/server/api_v2_sessions.py
  gptme/util/auto_naming.py
  tests/test_auto_naming.py
Due: none

docs: document /tools load command and gptme managed service provider
  docs/commands.rst
  docs/providers.rst
Due: check-rst-formatting

docs(hooks): add built-in hooks reference section
  docs/hooks.rst
Due: check-rst-formatting

docs(cli): add gptme-auth to CLI reference
  docs/cli.rst
Due: check-rst-formatting

feat(agent): add `gptme-agent doctor` command for workspace health checks
  gptme/agent/cli.py
  gptme/agent/doctor.py
  tests/test_agent_doctor.py
Due: none

fix(agent/doctor): add UnicodeDecodeError handling and use tomlkit for TOML parsing
  gptme/agent/doctor.py
Due: none

fix(acp): support async session update callbacks
  gptme/acp/client.py
  pyproject.toml
  tests/test_acp_client.py
Due: none

docs: document /tools load command and gptme managed service provider (#1544)
  docs/cli.rst
  docs/commands.rst
  docs/hooks.rst
  docs/providers.rst
Due: check-rst-formatting

feat(tools): support loading custom tools from .py files via --tools (#1540)
  gptme/cli/main.py
  gptme/tools/__init__.py
  gptme/tools/base.py
  gptme/tools/todo.py
  gptme/util/prompt.py
  tests/test_tools.py
Due: none

feat(agent): add `gptme-agent doctor` command for workspace health checks (#1545)
  gptme/agent/cli.py
  gptme/agent/doctor.py
  tests/test_agent_doctor.py
Due: none

feat(acp): add GptmeAcpClient — gptme as ACP client (#1536)
  gptme/acp/__init__.py
  gptme/acp/client.py
  pyproject.toml
  tests/test_acp_client.py
Due: none

refactor(release): unify bump_version.sh for both interactive and CI use
  Makefile
  scripts/bump_version.sh
Due: none

refactor(release): extract shared publish_release.sh, add Makefile targets
  .github/workflows/scheduled-release.yml
  Makefile
  scripts/publish_release.sh
Due: none

fix(ci): address Greptile review — inline PyPI publish, force master checkout
  .github/workflows/scheduled-release.yml
Due: none

ci(scheduled-release): remove unused id-token permission
  .github/workflows/scheduled-release.yml
Due: none

ci: add scheduled release workflow for automated dev/stable releases
  .github/workflows/build.yml
  .github/workflows/scheduled-release.yml
Due: none

refactor(hooks): rename cwd_tracking to cwd_awareness
  gptme/hooks/__init__.py
  gptme/hooks/cwd_awareness.py
  gptme/hooks/tests/test_cwd_awareness.py
  tests/test_hooks_cwd_changed.py
Due: none

ci: add scheduled release workflow (#1537)
  .github/workflows/build.yml
  .github/workflows/scheduled-release.yml
  Makefile
  scripts/bump_version.sh
  scripts/publish_release.sh
Due: none

docs(custom_tool): fix --tools examples and remove incorrect /tools load usage
  docs/custom_tool.rst
Due: check-rst-formatting

docs(custom_tool): document --tools file loading and /tools load command
  docs/custom_tool.rst
Due: check-rst-formatting

feat(hooks): add CWD_CHANGED hook type for directory change events (#1539)
  gptme/hooks/__init__.py
  gptme/hooks/agents_md_inject.py
  gptme/hooks/cwd_awareness.py
  gptme/hooks/cwd_changed.py
  gptme/hooks/cwd_tracking.py
  gptme/hooks/tests/test_agents_md_inject.py
  gptme/hooks/tests/test_cwd_awareness.py
  gptme/hooks/tests/test_cwd_tracking.py
  tests/test_agents_md_inject.py
  tests/test_hooks_cwd_changed.py
Due: none

docs(custom_tool): fix multi-file example — one '+' is enough for additive mode
  docs/custom_tool.rst
Due: check-rst-formatting

feat(server): add ACP session runtime wrapper for per-session subprocesses
  gptme/server/acp_session_runtime.py
  tests/test_acp_session_runtime.py
Due: none

fix(tests): skip acp_session_runtime tests when server extras not installed
  tests/test_acp_session_runtime.py
Due: none

fix(server): cleanup ACP client subprocess on new_session() failure to prevent process leak
  gptme/server/acp_session_runtime.py
Due: none

docs(custom_tool): document --tools file loading and /tools load command (#1547)
  docs/custom_tool.rst
Due: check-rst-formatting

feat(server): wire AcpSessionRuntime into server session step routing
  gptme/server/api_v2_sessions.py
  gptme/server/openapi_docs.py
  tests/test_acp_session_runtime.py
Due: none

fix(release): skip branch push for pre-releases to avoid branch protection
  scripts/publish_release.sh
Due: none

fix(release): skip branch push for pre-releases to avoid branch protection (#1548)
  scripts/publish_release.sh
Due: none

feat(release): use custom build_changelog.py for automated release notes
  .github/workflows/scheduled-release.yml
Due: none

feat(release): generate structured changelogs for all release types
  .github/workflows/scheduled-release.yml
  Makefile
Due: none

fix(release): use stable-only range for stable release changelogs in Makefile
  Makefile
Due: none

feat(release): generate structured changelogs for all release types (#1550)
  .github/workflows/scheduled-release.yml
  Makefile
Due: none

fix(server): avoid duplicate ACP steps without new user input
  gptme/server/api_v2_sessions.py
  tests/test_acp_session_runtime.py
Due: none

docs: comprehensive README improvements with MCP, ACP, plugins, skills, ecosystem
  README.md
Due: check-markdown-endings
