Repository gptme/gptme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rst-formatting, check-markdown-endings

check-rst-formatting:
  name: Check RST nested list formatting
  description: Ensures RST files have proper blank lines between parent/child list items
  entry: python3 scripts/check_rst_formatting.py
  language: system
  args:
  - docs/

check-markdown-endings:
  name: Check markdown file endings for cut-offs
  description: Detects files ending with suspicious patterns indicating incomplete codeblock content
  entry: python3 scripts/check_markdown_endings.py
  language: system

chore: regenerate poetry.lock for slowapi dependency
  poetry.lock
Due: none

style: fix import sorting in server module
  gptme/server/api.py
  gptme/server/api_v2_sessions.py
Due: none

style: fix lint errors in rate limiting tests
  tests/test_server_rate_limiting.py
Due: none

style: use X | Y syntax in isinstance check (UP038)
  tests/test_server_rate_limiting.py
Due: none

refactor(hooks): adopt OpenCode-style dot-notation naming
  gptme/chat.py
  gptme/hooks/__init__.py
  gptme/hooks/cache_awareness.py
  gptme/hooks/cost_awareness.py
  gptme/hooks/cwd_tracking.py
  gptme/hooks/markdown_validation.py
  gptme/hooks/test.py
  gptme/hooks/time_awareness.py
  gptme/hooks/token_awareness.py
  gptme/server/api_v2_sessions.py
  gptme/tools/autocommit.py
  gptme/tools/autocompact.py
  gptme/tools/base.py
  gptme/tools/lessons.py
  gptme/tools/precommit.py
  gptme/tools/restart.py
  gptme/tools/save.py
  gptme/tools/subagent.py
  tests/test_hooks.py
  tests/test_markdown_validation.py
  tests/test_server_v2_hooks.py
  tests/test_tools_time_awareness.py
  tests/test_tools_token_awareness.py
Due: none

refactor(lessons): extract shared keyword matching, add edge case handling
  gptme/_keyword_matching.py
  gptme/context/selector/rule_based.py
  gptme/lessons/matcher.py
  gptme/lessons/parser.py
  tests/lessons/test_wildcard_matching.py
Due: none

fix(tests): update imports to use shared keyword matching module
  tests/lessons/test_wildcard_matching.py
Due: none

fix(lessons): improve cache efficiency and add security documentation
  gptme/_keyword_matching.py
  tests/lessons/test_wildcard_matching.py
Due: none

refactor(hooks): standardize on PRE/POST naming, add step.post and turn.pre
  gptme/hooks/__init__.py
  gptme/hooks/cwd_tracking.py
  gptme/hooks/time_awareness.py
  gptme/hooks/token_awareness.py
  gptme/tools/base.py
  gptme/tools/precommit.py
  gptme/tools/save.py
  tests/test_hooks.py
  tests/test_tools_time_awareness.py
  tests/test_tools_token_awareness.py
Due: none

docs(lessons): fix misleading docstrings about word boundary matching
  gptme/_keyword_matching.py
Due: none

feat(gh): include comment IDs in PR review output
  gptme/util/gh.py
Due: none

test(gh): update mocked tests for comment ID format
  tests/test_util_gh_mocked.py
Due: none

fix(chat): account for truncation suffix in MAX_MESSAGE_LENGTH calculation
  gptme/chat.py
Due: none

feat(gh): truncate verbose comment bodies to reduce token usage
  gptme/util/gh.py
  tests/test_util_gh_mocked.py
Due: none

fix(gh): account for indicator overhead in truncation to stay within limit
  gptme/util/gh.py
  tests/test_util_gh_mocked.py
Due: none

fix(gh): extract suggestions from original body before truncation
  gptme/util/gh.py
  tests/test_util_gh_mocked.py
Due: none

docs(design): add hook-based tool confirmations proposal
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

docs: add design docs to toctree
  docs/index.rst
Due: check-rst-formatting

feat(hooks): add tool confirmation hook system
  gptme/hooks/__init__.py
  gptme/hooks/auto_confirm.py
  gptme/hooks/cli_confirm.py
  gptme/hooks/confirm.py
Due: none

feat(hooks): add confirmation hook registration and bridge utilities
  gptme/hooks/__init__.py
  gptme/hooks/confirm_bridge.py
Due: none

feat(chat): register CLI confirmation hook for interactive mode
  gptme/chat.py
Due: none

test(hooks): add tests for tool confirmation hook system
  gptme/hooks/tests/test_confirm.py
Due: none

feat(chat): integrate hook-based confirmation into confirm_func
  docs/design/hook-based-confirmations.md
  gptme/chat.py
Due: check-markdown-endings

fix(docs): add ToolConfirmHook to nitpick_ignore
  docs/conf.py
Due: none

feat(hooks): add server confirmation hook (Phase 4)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/server_confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/server/api_v2_sessions.py
Due: check-markdown-endings

docs(design): update implementation status to match design phases
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

feat(hooks): add server hook context vars and registration (Phase 5)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/server_confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/server/api.py
  gptme/server/api_v2_sessions.py
Due: check-markdown-endings

feat(server): integrate confirmation hooks into v1 API
  gptme/server/api.py
Due: none

docs(design): update implementation status with v1 API integration
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

feat(hooks): implement Phase 5 tool migration for hook-based confirmations
  docs/design/hook-based-confirmations.md
  gptme/hooks/confirm_bridge.py
  gptme/tools/mcp_adapter.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  gptme/tools/save.py
  gptme/tools/shell.py
  gptme/util/ask_execute.py
Due: check-markdown-endings

refactor(hooks): revert Phase 5 tool migration - simplify without adding lines
  docs/design/hook-based-confirmations.md
  gptme/tools/mcp_adapter.py
  gptme/tools/morph.py
  gptme/tools/patch.py
  gptme/tools/save.py
  gptme/tools/shell.py
  gptme/util/ask_execute.py
Due: check-markdown-endings

refactor(hooks): consolidate preview printing - Phase 6.1 simplification
  docs/design/hook-based-confirmations.md
  gptme/hooks/cli_confirm.py
Due: check-markdown-endings

refactor(hooks): centralize auto-confirm state and unify server with CLI
  gptme/hooks/cli_confirm.py
  gptme/hooks/confirm.py
  gptme/hooks/server_confirm.py
  gptme/util/ask_execute.py
Due: none

docs(design): update implementation status for Phase 6.2-6.3
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

refactor(hooks): consolidate help text - Phase 6.4 simplification
  gptme/hooks/cli_confirm.py
  gptme/util/ask_execute.py
Due: none

docs(design): update implementation status for Phase 6.4
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

refactor(hooks): move CLI hook registration to init_hooks, use contextvars
  gptme/chat.py
  gptme/hooks/__init__.py
  gptme/hooks/confirm.py
  gptme/init.py
Due: none

docs(design): update implementation status for Phase 7 - ask_execute removal
  docs/design/hook-based-confirmations.md
Due: check-markdown-endings

feat(hooks): implement tool auto-approve via ToolSpec hooks (Phase 8)
  docs/design/hook-based-confirmations.md
  gptme/hooks/__init__.py
  gptme/hooks/confirm.py
  gptme/hooks/tests/test_confirm.py
  gptme/tools/shell.py
Due: check-markdown-endings

Path conditions:
  check-rst-formatting: any of: \.rst$, but not: docs/_build/
  check-markdown-endings: any of: \.md$, but not: ^(journal/2024-|journal/2025-10-|journal/2025-11-0[1-5])
